{% extends "base.html" %}

<!--dynamic table-->
{% block extrahead %}
    {% load staticfiles %}
{% endblock %}

{% block title %}Group List{% endblock %}
{% block group_active %} active {% endblock %}
{% block parent_company_a_active %}active{% endblock %}
{% block parent_company_i_active %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading" style="font-size: 20px">
                    Group List
                     <span class="tools pull-right">
                         {% if 'auth.add_group' in user.get_all_permissions %}
                             <a class="btn btn-success start" href="{% url 'group_add' %}">
                                 <i class="glyphicon glyphicon-plus"></i>
                                 <span>Add new</span>
                             </a>
                         {% endif %}
                     </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped"
                               id="dynamic-table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Group Name</th>
                                    {% if 'auth.change_group' in user.get_all_permissions %}
                                        <th class="text-center">Edit</th>
                                    {% endif %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block extrafoot %}
    {% load staticfiles %}


    <script src="{% static "assets/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/datatables/js/dataTables.bootstrap.min.js" %}"></script>

    <!--dynamic table initialization -->

<script>
       $(document).ready(function () {
           $('#dynamic-table').dataTable({
               "order": [[0, "desc"]],
               "serverSide": true,
               "scrollX": true,
               stateSave: true,
               "ajax": {
                   "url": "{% url 'Group_list__asJson' %}",
               },
               "columns": [
                   {"data": "name"},
                   {% if 'auth.change_group' in user.get_all_permissions %}
                       {
                           "orderable": false,
                           "data": null,
                           "render": function (data, type, full, meta) {
                               var button_edit = '<a href="../group/edit/' + full.id + '/" class="fa fa-pencil btn btn-primary btn-xs"></a>'
                               return button_edit;
                           }
                       }
                   {% endif %}
               ]
           });
       })
   </script>
{% endblock %}


