<table id="tblData" style="width: 100% !important;"
       class="display table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th style="display: none">Item ID</th>
        <th>Name</th>
        <th>Supplier Code</th>
        <th>Location Code</th>
        <th>Part Number</th>
        <th>Part Group</th>
        <th>Unit Price</th>
        <th>Currency</th>
        <th style="display: none">Location ID</th>
        <th style="display: none">Currency ID</th>
        <th style="display: none;">Line ID</th>
        <th style="display: none;">Unit</th>
        <th style="display: none;">Supplier ID</th>
        <th style="display: none;">new price</th>
        <th style="display: none">RFS_Qty</th>
        <th></th>
    </tr>
    </thead>
</table>