<table id="tblData" style="width: 100% !important;"
       class="display table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th style="display: none">Item ID</th>
        <th>Part No</th>
        <th>Part Name</th>
        <th>Unit of M'Ment</th>
        <th>Part Group</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Location Code</th>
        <th>Supplr Code</th>
        <th style="max-width: 80px!important;">Customer PO no</th>
        <th style="max-width: 80px!important;">Refer Number</th>
        <th>Ref. Ln</th>
        <th>Order Qty</th>
        <th>Return Qty</th>
        <th style="display: none;">Location ID</th>
        <th style="display: none;">Supplier ID</th>
        <th style="display: none;">Refer ID</th>
        <th></th>
    </tr>
    </thead>
</table>