{% extends "base.html" %}

{% block extrahead %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap3-editable/css/bootstrap-editable.css' %}"/>
    <link href="{% static "css/select2/select2.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap-datepicker/css/datepicker.css' %}"/>
    <link href="{% static "assets/datatables/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
    <style>
        .hide_column {
            display: none;
        }
    </style>
{% endblock %}

{% block title %}{% if order.id == None %} Add Pur Db/Cr Note
{% elif order.id != None %} Edit Pur Db/Cr Note {% endif %}
{% endblock %}
{% block parent_order_a_active %}active{% endblock %}
{% block parent_order_i_active %}active{% endblock %}
{% block document_entry_a_active %}active{% endblock %}
{% block document_entry_i_active %}active{% endblock %}
{% block order_purchase_note_active %}active{% endblock %}

{% block content %}

    {% if order.id == None %}
    <form class="form-horizontal" role="form" method="post" onsubmit="return checkForm(this);" id="form" action="{% url 'purchase_crdb_note_add' 1 %}" enctype="multipart/form-data">  {# ORDER_STATUS['Draft'] #}
    {% else %}
    <form class="form-horizontal" role="form" method="post" onsubmit="return checkForm(this);" id="form" action="{% url 'order_edit' order.id order_type 0 0 %}" enctype="multipart/form-data">  {# EDIT_TYPE['Edit'] #}
    {% endif %}
        {% csrf_token %}
        <div class="col-lg-12" style="display: none;">
            <section class="panel">
                <header class="panel-heading">Purchase Cr/Db Header
                    <label id="order_type" class="control-label" style="display: none">{{ order_type }}</label>
                    <label id="order_id" class="control-label" style="display: none">{{ order.id }}</label>
                    <label id="tax_rate" class="control-label" style="display: none">
                        {% if tax_rate %}{{ tax_rate }}{% endif %}</label>
                    <label id="list_url" class="control-label" style="display: none">{% url 'load_grList__asJson' %}</label>
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div>
                                        <img src="{{ media_url }}{{ company.logo }}" alt="" style="width: 100%;"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="company_id" type="hidden" value="{{ company.id }}">
                                <div class="col-lg-12">
                                    <a href="#" id="companyname" data-name="company_name" name="company_name"
                                       data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                                       datatype="text">{{ company.name }}</a>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <a href="#" id="address" data-name="company_address" name="company_address"
                                       data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                                       datatype="text">{{ company.address }}</a>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <a href="#" id="email" data-name="company_email" name="company_email"
                                       data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                                       datatype="text">{{ company.email }}</a>
                                </div>
                            </div>
                            {{ formset_left.management_form }}
                            {% for form in formset_left.forms %}
                                <input type="hidden" id="request_method" value="{{ request_method }}">
                                <div class='table-left'>
                                    <table class='no_error'>
                                        <div class="form-group" style="margin-bottom: 5px!important;">
                                            <div class="col-lg-12">
                                                {{ form.label }}
                                                <span class="messages">{{ form.errors.label_left }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                {{ form.value }}
                                                <span class="messages">{{ form.errors.somevalue_left }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                <button type="button" class="removerow-left btn btn-white fa fa-minus"
                                                        id="removerow-left"
                                                        name="removerow-left"
                                                        value="Remove"></button>
                                            </div>
                                        </div>
                                    </table>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <button type="button" id="add_more_left" class="btn btn-white fa fa-plus"></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="title" class="col-lg-4 col-sm-4 control-label"
                                       style="text-align: right"><span
                                        class="span-required">(*)</span></label>
                                <div class="col-lg-8">
                                    {{ form.label }}
                                    <span class="messages">{{ form.errors.label }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subtitle" class="col-lg-4 col-sm-4 control-label" style="text-align: right"><span
                                        class="span-required">(*)</span></label>
                                <div class="col-lg-8">
                                    {{ form.value }}
                                    <span class="messages">{{ form.errors.value }}</span>
                                </div>
                            </div>
                            {{ formset_right.management_form }}
                            {% for form in formset_right.forms %}
                                <div class='table-right'>
                                    <table class='no_error'>
                                        <div class="form-group" style="margin-bottom: 5px!important;">
                                            <label for="label" class="col-lg-4 col-sm-4 control-label"></label>
                                            <div class="col-lg-8">
                                                {{ form.label }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="somevalue" class="col-lg-4 col-sm-4 control-label"></label>
                                            <div class="col-lg-8">
                                                {{ form.value }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                <button type="button" class="removerow-right btn btn-white fa fa-minus"
                                                        id="removerow-right"
                                                        name="removerow-right"
                                                        value="Remove"
                                                        style="float: right"></button>
                                            </div>
                                        </div>
                                    </table>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <label for="add_more_right" class="col-lg-4 col-sm-4 control-label"></label>
                                <div class="col-lg-8">
                                    <button type="button" style="float: right;" id="add_more_right"
                                            class="btn btn-white fa fa-plus"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading"> Purchase Master
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="modal fade" id="mySupplierListModal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Search Supplier</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" style="margin-right: 0px!important;margin-left: 0px!important;">
                                    <section class="panel">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel-body"
                                                     style="padding: 0px!important; font-size: 12.5px !important;">
                                                    <div class="adv-table">
                                                        <table id="supplier-table" style="width: 100% !important;"
                                                               class="display table table-bordered table-striped table-condensed">
                                                            <thead>
                                                            <tr>
                                                                <th>Supplier Code</th>
                                                                <th>Supplier Name</th>
                                                                <th>Payment Term</th>
                                                                <th>Payment Mode</th>
                                                                <th>Credit Limit</th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                                    <button class="btn btn-success" type="button" id="btnSupplierSelect">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-lg-6">
                            {#Supplier Information#}

                            <div class="form-group">
                                <label for="transport_response" class="col-lg-4 col-sm-4 control-label">Transaction
                                    Code</label>
                                <div class="col-lg-8">
                                    {{ form_info.transaction_code }}
                                    <span class="messages">{{ form_info.errors.transaction_code }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="document_number" class="col-lg-4 col-sm-4 control-label">Document
                                    Number<span
                                            class="span-required">(*)</span>:</label>
                                <div class="col-lg-8">
                                    {{ form_info.document_number }}
                                </div>
                            </div>
                            <div class="form-group">
                            <label for="transport_response" class="col-lg-4 col-sm-4 control-label">Supplier Code cc</label>
                                    <div class="col-lg-4 ">
                                     {{ form_info.supplier }}
                                        <input class="form-control hidden" id="form_supplier_code" name="supplier"
                                                type="text"
                                               {% if order.id %}value="{{ form_info.instance.supplier_code }}"{% endif %}
                                               required>
                                    </div>
                                    <div class="col-lg-4 ">
                                        <button id="btnSearchSupplier" type="button" class="btn btn-info"
                                                data-toggle="modal" href="#mySupplierListModal">
                                            <i class="fa fa-search"></i> Search
                                        </button>
                                    </div>
                            </div>

                            <div class="form-group">
                                <label for="currency" class="col-lg-4 col-sm-4 control-label">Cust. Currency</label>
                                <div class="col-md-8">
                                    {{ form_info.currency }}
                                </div>
                            </div>

                            <div class="form-group">
                            <label for="remark" class="col-lg-4 col-sm-4 control-label">Remark</label>
                                <div class="col-lg-8">
                                    {{ form_info.remark }}
                                </div>
                            </div>
                            <div class="form-group" style="display: none">
                                <label for="invoice_date" class="col-lg-4 col-sm-4 control-label">Invoice Date:</label>
                                <div class="col-lg-8">
                                    {{ form_info.invoice_date }}
                                </div>
                            </div>
                            <div class="form-group" style="display: none">
                                <label for="delivery" class="col-lg-4 col-sm-4 control-label">Delivery Date:</label>
                                <div class="col-lg-8">
                                    {{ form_info.delivery_date }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group" style="display: none;">
                                <label class="col-lg-4 col-sm-4 control-label">Debit Account:</label>
                                <div class="col-lg-8">{{ form_info.debit_account }}</div>
                            </div>
                            <div class="form-group" style="display: none;">
                                <label class="col-lg-4 col-sm-4 control-label">Credit Account:</label>
                                <div class="col-lg-8">{{ form_info.credit_account }}</div>
                            </div>
                            <div class="form-group" style="display: none;">
                                <label class="col-lg-4 col-sm-4 control-label">Cost Center:</label>
                                <div class="col-lg-8">{{ form_info.cost_center }}</div>
                            </div>
                            <div class="form-group">
                                <label for="order_date" class="col-lg-4 col-sm-4 control-label">Document Date:</label>
                                <div class="col-lg-8">
                                    {{ form_info.document_date }}

                                    <input class="form-control form-control-inline input-medium default-date-picker" id="id_document_date_fake" name="id_document_date_fake" type="text">
                                    <span class="messages">{{ form_info.errors.document_date }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cost_center" class="col-lg-4 col-sm-4 control-label">Cost Center</label>
                                <div class="col-lg-8">
                                    {{ form_info.cost_center }}
                                    <span class="messages">{{ form_info.errors.cost_center }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                             <label for="customer_payment_term" class="col-lg-4 col-sm-4 control-label">Payment
                                        Term : </label>
                                        <div class="col-lg-8" >
                                        <b id="customer_payment_term" class="form-control">
                                        {% if order.id %}{{ supplier.term_days }} Days{% endif %}
                                         </b>
                                        </div>
                            </div>
                            <div class="form-group">
                             <label for="customer_payment_mode" class="col-lg-4 col-sm-4 control-label">Payment
                                        Mode : </label>
                                        <div class="col-lg-8" >
                                        <b id="customer_payment_mode" class="form-control">
                                        {% if order.id %}{{ supplier.payment_mode.name }}{% endif %}
                                         </b>
                                        </div>
                            </div>
                            <div class="form-group">
                             <label for="customer_credit_limit" class="col-lg-4 col-sm-4 control-label">Credit
                                        Limit : </label>
                                        <div class="col-lg-8" >
                                        <b id="customer_credit_limit" class="form-control">
                                        {% if order.id %}
                                            {% if supplier.credit_limit %}
                                            {{ supplier.credit_limit }}
                                            {% endif %}
                                        {% endif %}
                                         </b>
                                        </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input type="hidden" name="hdSupplierId" id="hdSupplierId"
                                           {% if order.id %}value="{{ supplier.id }}"
                                           {% else %}value="0"{% endif %}>
                                    <a href="#" id="supplier_name" data-name="supplier_name" name="supplier_name"
                                       data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                                       datatype="text" style="max-width: 70%">
                                        {% if order.id %}{{ supplier.name }}{% endif %}</a>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <a href="#" id="supplier_address" data-name="supplier_address"
                                       name="supplier_address" style="max-width: 70%"
                                       data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                                       datatype="text">{% if order.id %}{{ supplier.address }}{% endif %}</a>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <a href="#" id="supplier_email" data-name="supplier_email"
                                       name="supplier_emails" style="max-width: 70%"
                                       data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                                       datatype="text">{% if order.id %}{{ supplier.email }}{% endif %}</a>
                                </div>
                            </div>
                            <div class="form-group" style="display: none">
                                <label for="account_code" class="col-lg-4 col-sm-4 control-label">Acct Code</label>
                                <div class="col-lg-8" id="debit_account" style="display: none">
                                    {{ form_info.debit_account }}
                                    <span class="messages">{{ form_info.errors.debit_account }}</span>
                                </div>
                                <div class="col-lg-8" id="credit_account">
                                    {{ form_info.credit_account }}
                                    <span class="messages">{{ form_info.errors.credit_account }}</span>
                                </div>
                            </div>
                            {{ formset_code.management_form }}
                            {% for form in formset_code.forms %}
                                <div class='table-code'>
                                    <table class='no_error'>
                                        <div class="form-group" style="margin-bottom: 5px!important;">
                                            <div class="col-lg-4">
                                                {{ form.label }}
                                            </div>
                                            <div class="col-lg-8">
                                                {{ form.value }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                <button type="button" class="removerow-code btn btn-white fa fa-minus"
                                                        id="removerow-code"
                                                        name="removerow-code"
                                                        value="Remove"
                                                        style="float: right"></button>
                                            </div>
                                        </div>
                                    </table>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <button type="button" id="add_more_code" class="btn btn-white fa fa-plus"
                                            style="float: right;"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">Purchase Item
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table table-responsive" style="overflow-x: scroll; overflow-y: auto;">
                        <table class="display table table-bordered table-striped"
                               id="dynamic-table" style="width:100%">
                            <thead>
                            <tr>
                                <th>Line</th>
                                <th>Location</th>
                                <th>Customer P.O No</th>
                                <th>Part Number</th>
                                <th>Unit of M'Ment</th>
                                <th>Part Group</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Amount</th>
                                <th>Part Name</th>
                                <th>Supplr Code</th>
                                <th>Refer Number</th>
                                <th>Ref. Ln</th>
                                <th>Order Qty</th>
                                <th>Return Qty</th>
                                <th>Remark</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ formset_item.management_form }}
                            {% for form in formset_item.forms %}
                                <tr class="gradeX">
                                    <td><label id="id_formset_item-0-line_number" class="control-label-item"
                                               name="formset_item-0-line_number">{{ form.line_number.value }}</label>
                                        {{ form.line_number }}
                                    </td>
                                    <td>{{ form.location }}</td>
                                    <td><label id="id_formset_item-0-customer_po_no" class="control-label-item"
                                               name="formset_item-0-customer_po_no">{{ form.customer_po_no.value|default_if_none:"" }}</label>
                                        {{ form.customer_po_no|default_if_none:"" }}</td>

                                    <td><label id="id_formset_item-0-item_code" class="control-label-item"
                                               name="formset_item-0-item_code">{{ form.item_code.value|default_if_none:"" }}</label>
                                        {{ form.item_code|default_if_none:"" }}
                                        {{ form.item_id|default_if_none:"" }}
                                    </td>
                                    <td>
                                        <label id="id_formset_item-0-uom" class="control-label-item"
                                               name="formset_item-0-uom">{{ form.uom.value|default_if_none:"" }}</label>
                                        {{ form.uom|default_if_none:"" }}
                                    </td>
                                    <td><label id="id_formset_item-0-category" class="control-label-item"
                                               name="formset_item-0-category">{{ form.category.value|default_if_none:"" }}</label>
                                        {{ form.category|default_if_none:"" }}
                                    </td>
                                    <td>{{ form.quantity|default_if_none:"" }}</td>
                                    <td>{{ form.price|default_if_none:"" }}</td>
                                    <td>{{ form.amount|default_if_none:"" }}</td>
                                    <td style="width: 10%">
                                        <label class="form-label-item" id="id_formset_item-0-item_name"
                                               name="formset_item-0-item_name">
                                            {{ form.item_name.value }}</label>
                                        {{ form.item_name }}
                                        {{ form.category }}
                                    </td>
                                    <td><label id="id_formset_item-0-supplier" class="control-label-item"
                                               name="formset_item-0-supplier">
                                        {{ form.supplier_code.value|default_if_none:"" }}</label>
                                        {{ form.supplier_code|default_if_none:"" }}
                                        {{ form.supplier_id|default_if_none:"" }}
                                    </td>
                                    <td><label id="id_formset_item-0-ref_number" class="control-label-item"
                                               name="formset_item-0-ref_number">
                                        {{ form.ref_number.value|default_if_none:"" }}</label>
                                        {{ form.ref_number|default_if_none:"" }}
                                    </td>
                                    <td><label id="id_formset_item-0-refer_line" class="control-label-item"
                                               name="formset_item-0-refer_line">
                                        {{ form.refer_line.value|default_if_none:"" }}</label>
                                        {{ form.refer_line|default_if_none:"" }}
                                    </td>
                                    <td><label id="id_formset_item-0-order_quantity" class="control-label-item"
                                               name="formset_item-0-order_quantity">
                                        {{ form.order_quantity.value|default_if_none:"" }}</label>
                                        {{ form.order_quantity|default_if_none:"" }}
                                    </td>
                                    <td><label id="id_formset_item-0-receive_quantity" class="control-label-item"
                                               name="formset_item-0-receive_quantity">
                                        {{ form.receive_quantity.value|default_if_none:"" }}</label>
                                        {{ form.receive_quantity|default_if_none:"" }}
                                    </td>
                                    <td>{{ form.description|default_if_none:"" }}</td>
                                    <td style="display: none">{{ form.reference_id|default_if_none:"" }}</td>
                                    <td>
                                        <button type="button" class="removerow btn btn-white fa fa-minus"
                                                id="removerow0"
                                                name="removerow0"
                                                value="Remove"></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="18" style="text-align: left;">
                                    <label class="control-label"><b>GR Number:</b></label>
                                    <div style="display:inline-block;min-width:20%;">
                                    <select id="load_code_by_supp"><option></option></select>
                                    </div>
                                    <input id="txtGRNo" name="txtGRNo" class="hidden">
                                    <a id="btnOpenItemDialog" data-toggle="modal" href="#myModal"
                                       class="btn btn-white fa fa-plus"></a>
                                </td>
                                <span id="items_error" class="messages">Please add at least one product !</span>
                                <br>
                                <span id="minimum_order_error" class="messages" style="display: none"></span>
                                <br>
                                <span id="currency_error" class="messages" style="display: none"></span>
                                <br>
                                <span id="validate_error" class="messages" style="display: none"></span>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="width: 100%; padding-left: 8%; padding-right: 8%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Search Product</h4>
                                </div>
                                <div class="modal-body" style="padding-bottom: 0px!important;">
                                    <div class="form-group"></div>
                                    <section class="panel" style="margin-bottom: 0px!important;">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel-body"
                                                     style="padding: 0px!important; font-size: 12.5px !important;">
                                                    <div class="adv-table" id="myDialog">
                                                        {% include 'pur_crdb_items.html' %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                                    <button class="btn btn-success" type="button" id="btnAddItems">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" style="text-align: right">B4-Tax: </label>
                        <div class="col-md-5" style="text-align: right">
                            <div class="col-md-8 control-label">
                                <div class="col-md-10"></div>
                                <label class="control-label col-md-2 lblCurrency"
                                       style="text-align: right">{{ currency_symbol }}</label>
                            </div>
                            <div class="col-md-4">{{ form_info.subtotal }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" style="text-align: right">Tax: </label>
                        <div class="col-md-5" style="text-align: right">
                            <div class="col-md-8">
                                <div class="col-md-10">{{ form_info.tax }}</div>
                                <label class="control-label col-md-2 lblCurrency"
                                       style="text-align: right">{{ currency_symbol }}</label>
                            </div>
                            <div class="col-md-4">{{ form_info.tax_amount }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" style="text-align: right">Total: </label>
                        <div class="col-md-5" style="text-align: right">
                            <div class="col-md-8 control-label">
                                <div class="col-md-10"></div>
                                <label class="control-label col-md-2 lblCurrency"
                                       style="text-align: right">{{ currency_symbol }}</label>
                            </div>
                            <div class="col-md-4">{{ form_info.total }}</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-4" style="text-align: center">
                            {% if order_status != 2 and order_status != 3 and order_status != 6 %}
                                {% if order.id != None %}
                                    <button type="submit" name="btnSend" class="btn btn-info" id="btnSend" formaction="{% url 'purchase_crdb_note_edit' order.id 2 %}"> {# ORDER_STATUS['Sent'] #}
                                {% else %}
                                    <button type="submit" name="btnSend" class="btn btn-info" id="btnSend" formaction="{% url 'purchase_crdb_note_add' 2 %}">  {# ORDER_STATUS['Sent'] #}
                                {% endif %}
                                Send</button>
                            {% endif %}
                            {% if order_status != 3 and order_status != 6 and order_status != 2 %}
                                {% if order.id != None %}
                                    <button type="submit" name="btnSave" class="btn btn-success" id="btnSave" formaction="{% url 'purchase_crdb_note_edit' order.id 1 %}"> {# ORDER_STATUS['Draft'] #}
                                {% else %}
                                    <button type="submit" name="btnSave" class="btn btn-success" id="btnSave" formaction="{% url 'purchase_crdb_note_add' 1 %}"> {# ORDER_STATUS['Draft'] #}
                                {% endif %}
                                Save</button>
                            {% endif %}

                            <a type="submit" class="btn btn-default"
                               href="{% url 'order_list' 9 %}">Cancel</a> {# ORDER_TYPE['PURCHASE CR DB NOTE'] #}
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </section>
        </div>
    </form>

{% endblock %}

{% block extrafoot %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'assets/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/advanced-form-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/bootstrap3-editable/js/bootstrap-editable.js' %}"></script>
    <!-- Datatables -->
    <script src="{% static "assets/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/datatables/js/dataTables.bootstrap.min.js" %}"></script>

    <script type="text/javascript" src="{% static 'js/order/pur_cr_db_note.js' %}"></script>
    <script src="{% static "js/select2/select2.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/valib.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            load_part_numbers_purch();
            $('#id_supplier').select2({
                placeholder: "Select Part",
            });
            $('#load_code_by_supp').select2({
                placeholder: "GR number",
            });
            $('#id_currency option:not(:selected)').attr('disabled', true);
            $('#id_tax option:not(:selected)').attr('disabled', true);
            $('form input').on('keypress', function (e) {
                return e.which !== 13;
            });

            $('#id_document_date').addClass('hide');
            var theday = dateView($("#id_document_date").val())
            $("#id_document_date_fake").val(theday);
        });
        function dateView(date){
            var pecahin = date.split('-');
            var today = pecahin[2]+'-'+pecahin[1]+'-'+pecahin[0];
            return today
        }
        $('#id_supplier').on('change', function() {
            $('#btnOpenItemDialog').removeAttr('disabled');
            $('#txtPartNo').prop('disabled', false);
            load_supp();
            load_part_numbers_purch();
        });

        $('#id_document_date_fake').on('change', function() {
            var date_view = dateView($("#id_document_date_fake").val());
            $("#id_document_date").val(date_view);
            var date_rate_1 = dateView($("#id_document_date_fake").val())
            var id_cus = $('#id_supplier').val();
            var is_req = 1 // request from supplier
            var rate_type = 3
            var curr_to = $('#id_currency').val();
            // if (id_cus > 0){
            //     recort_rate_po(curr_to,date_rate_1,rate_type)
            // }
        });
        function load_supp() {
            var date_rate = $("#id_document_date").val();
            var id_sup = $('#id_supplier').val();
            $.ajax({
                type: "GET",
                url: "/suppliers/get_by_pk/"+id_sup+'/',
                dataType: 'JSON',
                success: function(data){
                    if (data.data.length > 0){
                        $('#hdSupplierId').val(data.data[0].id)
                        $('#id_currency').val(data.data[0].currency_id).trigger('change');
                        $('#name_currency').val(data.data[0].currency_name);
                        $('#customer_payment_term').text(data.data[0].payment_term+' Days');
                        $('#customer_payment_mode').text(data.data[0].payment_code);
                        $('#customer_credit_limit').text(data.data[0].credit_limit);
                        $('#supplier_name').text(data.data[0].supplier_name);
                        $('#supplier_address').text(data.data[0].address);
                        $('#supplier_email').text(data.data[0].email);
                        // recort_rate_po(data.data[0].currency_id,date_rate,3)

                    }
                }

            });
        }
        function load_part_numbers_purch(){
            var id_cus = 0;
            if ($('#id_supplier').val() > 0){
                id_cus = $('#id_supplier').val();
            }
            $('#load_code_by_supp').empty();
            $.ajax({
                type: "GET",
                url: "/orders/po_select_list_json/"+id_cus+'/',
                dataType: 'JSON',
                success: function(data){
                if (data.data.length > 0){
                    var array = data.data
                    for (i in array) {                        
                         $("#load_code_by_supp").append("<option value="+array[i].code+">"+array[i].code+"</option>");
                       }
                    }
                }

            });
        }
    </script>
{% endblock %}
