<table id="tblData" style="width: 100% !important;"
       class="display table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th style="display: none">Item ID</th>
        <th>Name</th>
        <th>Supplr Code</th>
        <th>Ref. No</th>
        <th>Ref. Line</th>
        <th>Loc. Code</th>
        <th>Part No</th>
        <th>Part Group</th>
        <th>Unit Price</th>
        <th>Currency</th>
        <th style="display: none;">Location ID</th>
        <th style="display: none;">Currency ID</th>
        <th style="display: none;">Line ID</th>
        <th style="display: none;">Unit</th>
        <th style="display: none;">Supplier ID</th>
        <th style="display: none;">Minimun Order</th>
        <th style="display: none;">Ref. ID</th>
        <th style="display: none;">Customer PO no</th>
        <th style="display: none;">Default Location ID</th>
        <th style="display: none;">new price</th>
        <th></th>
    </tr>
    </thead>
</table>