{% extends "base.html" %}

{% block extrahead %}
    {% load staticfiles %}
    <link href="{% static "css/select2/select2.css" %}" rel="stylesheet">
    <style>
        .hide_column {
            display: none;
        }
    </style>
{% endblock %}
{% block title %} Update Order Delivery Date{% endblock %}
{% block parent_order_a_active %}active{% endblock %}
{% block processing_a_active %}active{% endblock %}
{% block processing_i_active %}active{% endblock %}

{% block sp_update_delivery_date_active %}active{% endblock %}


{% block content %}               
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading"> {# ORDER_TYPE['SALES ORDER'] #}
                    Update Order Delivery Date
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
            </header>
            
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="post" id="form"  onsubmit="return checkForm(this);"
                    action="{% url 'update_delivery_date' %}" enctype="multipart/form-data">
                    {% csrf_token %} 
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-lg-4 col-sm-4">Document Type</label>
                                <div class="col-md-8">
                                    <select id="id_document_type" class="form-control" name="select_document_type" required>
                                        <option value="SO">Sales Order</option>
                                        <option value="PO">Purchase Order</option>
                                    </select> 
                                </div>
                            </div>
                            {% comment %} <div class="form-group">
                                <label for="transaction_code" class="col-lg-4 col-sm-4 control-label">Transaction Code:</label>
                                <div class="col-lg-8">
                                    <input class="form-control form-control-inline input-medium" id="transaction_code" name="transaction_code" type="text" value="S/O" disabled>
                                </div>
                            </div> {% endcomment %}
                            <div class="form-group">
                                <label for="customer" class="col-lg-4 col-sm-4 control-label">Document No.</label>
                                <div class="col-lg-8 col-sm-8" >
                                    <select id="id_select_document" class="form-control" name="select_document"  required>
                                        <option value="">Select Document</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customer" class="col-lg-4 col-sm-4 control-label">Customer PO No.</label>
                                <div class="col-lg-8 col-sm-8" >
                                    <select id="id_select_cust_po_no" class="form-control" name="select_cust_po_no"  required>
                                        <option value="">Select Cust. PO</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="document_number" class="col-lg-4 col-sm-4 control-label">Delivery Date</label>
                                <div class="col-lg-8 col-sm-8">
                                    <input class="form-control form-control-inline input-medium" id="delivery_date" name="delivery_date" type="text"  required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4"></div>
                                <div class="col-md-8" style="text-align: center">
                                    <button type="submit" class="btn btn-success" id="btnSave" name="btnSave">Process</button>
                                    <a type="submit" class="btn btn-default" href="{% url 'order_list' 1 %}">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    
{% endblock %}

{% block extrafoot %}
    <script src="{% static "assets/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/datatables/js/dataTables.bootstrap.min.js" %}"></script> 
    <script src="{% static "js/select2/select2.js" %}"></script>
    <script type="text/javascript">
        $(document).on('keyup', '.select2-selection.select2-selection--single', function (e) {
            var keycode = (e.keyCode ? e.keyCode : e.which);
            if(keycode == '9'){
                $(this).closest(".select2-container").siblings('select:enabled').select2('open');
            }
        });
        $(document).ready(function () {
            $('#id_document_type').select2({});

            $('#id_select_document').select2({
                placeholder: "Select Document",
                allowClear: true,
            });
            $('#id_select_cust_po_no').select2({
                placeholder: "Select Cust. PO",
                allowClear: true,
            });

            $('#id_document_type').on('select2:close', function (e)
            {
                $('#id_select_document').focus();
                var e = jQuery.Event("keyup");
                e.which = 13; // # Some key code value
                $(this).trigger(e);
            });

            $('#id_select_document').on('select2:close', function (e)
            {
                $('#id_select_cust_po_no').focus();
                 var e = jQuery.Event("keyup");
                e.which = 13; // # Some key code value
                $(this).trigger(e);
            });

            $('#id_select_cust_po_no').on('select2:close', function (e)
            {
                $('#delivery_date').focus();
            });

            $('#id_document_type').trigger('change');

            $('#id_document_type').select2('open');
        });

        $('#id_document_type').on('change', function(){
            var type = $(this).val();
            $.ajax({
                method: "POST",
                url: '/orders/update_delivery_order_list/' + type + '/',
                dataType: 'JSON',
                data: {
                    'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                responseTime: 200,
                success: function (json) {
                    $('#id_select_document').empty();
                    $('#id_select_document').append('<option value="">Select Document</option>');
                    for (j = 0; j < json.length; j++) {
                        $('#id_select_document').append('<option value="' + json[j] + '">' + json[j] + '</option>');
                    }
                }
            });
        });

        $('#id_select_document').on('change', function(){
            var type = $('#id_document_type').val();
            var doc_no = $(this).val();
            $.ajax({
                method: "POST",
                url: '/orders/update_delivery_order_list_po/' + type + '/' + doc_no + '/',
                dataType: 'JSON',
                data: {
                    'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                responseTime: 200,
                success: function (json) {
                    $('#id_select_cust_po_no').empty();
                    $('#id_select_cust_po_no').append('<option value="">Select Cust. PO</option>');
                    for (j = 0; j < json.length; j++) {
                        $('#id_select_cust_po_no').append('<option value="' + json[j] + '">' + json[j] + '</option>');
                    }
                }
            });
        });


        var year_period_day = moment().format("DD-MM-YYYY");
        $('#delivery_date').bind('keyup', function (event) {
            if (event.which != 13) {
                adjust_input_date(this);
                temp_date = $(this).val();
                valid_date = moment(temp_date, "DD-MM-YYYY", true).isValid();
                if (valid_date) {
                    year_period_day = temp_date;
                }
                return true;
            } else if (event.which == 13) {
                $('#delivery_date').val(moment(year_period_day, 'DD-MM-YYYY').format('DD-MM-YYYY'));
                $('#btnSave').focus();
            }
        });

    </script>

{% endblock %}
