
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea/*
media

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/ikary.iml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
test/conftest.pyc
test/main.pyc
test/test_global.pyc
test/.cache/v/cache/lastfailed
test/__pycache__/main.cpython-27-PYTEST.pyc
test/__pycache__/orders.cpython-27-PYTEST.pyc
test/__pycache__/test_global.cpython-27-PYTEST.pyc
test/__pycache__/test_homepage.cpython-27-PYTEST.pyc
test/__pycache__/test_orders.cpython-27-PYTEST.pyc
test/__pycache__/test_reports.cpython-27-PYTEST.pyc
test/__pycache__/test_suppliers.cpython-27-PYTEST.pyc
src/ikari/accounts/__pycache__/__init__.cpython-34.pyc
src/ikari/accounts/__pycache__/admin.cpython-34.pyc
src/ikari/accounts/__pycache__/models.cpython-34.pyc
src/ikari/accounts/__pycache__/urls.cpython-34.pyc
src/ikari/accounts/__pycache__/views.cpython-34.pyc
src/ikari/accounts/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/accounts/migrations/__pycache__/0002_auto_20160505_1618.cpython-34.pyc
src/ikari/accounts/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/banks/__pycache__/__init__.cpython-34.pyc
src/ikari/banks/__pycache__/admin.cpython-34.pyc
src/ikari/banks/__pycache__/forms.cpython-34.pyc
src/ikari/banks/__pycache__/models.cpython-34.pyc
src/ikari/banks/__pycache__/urls.cpython-34.pyc
src/ikari/banks/__pycache__/views.cpython-34.pyc
src/ikari/banks/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/banks/migrations/__pycache__/0002_auto_20160505_1618.cpython-34.pyc
src/ikari/banks/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/companies/__pycache__/__init__.cpython-34.pyc
src/ikari/companies/__pycache__/admin.cpython-34.pyc
src/ikari/companies/__pycache__/forms.cpython-34.pyc
src/ikari/companies/__pycache__/models.cpython-34.pyc
src/ikari/companies/__pycache__/urls.cpython-34.pyc
src/ikari/companies/__pycache__/views.cpython-34.pyc
src/ikari/companies/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/companies/migrations/__pycache__/0002_auto_20160505_1618.cpython-34.pyc
src/ikari/companies/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/contacts/__pycache__/__init__.cpython-34.pyc
src/ikari/contacts/__pycache__/admin.cpython-34.pyc
src/ikari/contacts/__pycache__/forms.cpython-34.pyc
src/ikari/contacts/__pycache__/models.cpython-34.pyc
src/ikari/contacts/__pycache__/urls.cpython-34.pyc
src/ikari/contacts/__pycache__/views.cpython-34.pyc
src/ikari/contacts/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/contacts/migrations/__pycache__/0002_auto_20160824_1356.cpython-34.pyc
src/ikari/contacts/migrations/__pycache__/0003_auto_20160826_1635.cpython-34.pyc
src/ikari/contacts/migrations/__pycache__/0004_auto_20160829_1414.cpython-34.pyc
src/ikari/contacts/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/countries/__pycache__/__init__.cpython-34.pyc
src/ikari/countries/__pycache__/admin.cpython-34.pyc
src/ikari/countries/__pycache__/forms.cpython-34.pyc
src/ikari/countries/__pycache__/models.cpython-34.pyc
src/ikari/countries/__pycache__/urls.cpython-34.pyc
src/ikari/countries/__pycache__/views.cpython-34.pyc
src/ikari/countries/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/countries/migrations/__pycache__/0002_item_items.cpython-34.pyc
src/ikari/countries/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/currencies/__pycache__/__init__.cpython-34.pyc
src/ikari/currencies/__pycache__/admin.cpython-34.pyc
src/ikari/currencies/__pycache__/forms.cpython-34.pyc
src/ikari/currencies/__pycache__/models.cpython-34.pyc
src/ikari/currencies/__pycache__/urls.cpython-34.pyc
src/ikari/currencies/__pycache__/views.cpython-34.pyc
src/ikari/currencies/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/currencies/migrations/__pycache__/0002_auto_20160607_1056.cpython-34.pyc
src/ikari/currencies/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/customers/__pycache__/__init__.cpython-34.pyc
src/ikari/customers/__pycache__/admin.cpython-34.pyc
src/ikari/customers/__pycache__/forms.cpython-34.pyc
src/ikari/customers/__pycache__/models.cpython-34.pyc
src/ikari/customers/__pycache__/urls.cpython-34.pyc
src/ikari/customers/__pycache__/views.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0002_auto_20160629_0959.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0003_auto_20160720_1104.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0004_auto_20160721_1104.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0004_customer_address.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0005_auto_20160721_1107.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0006_merge.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0007_auto_20160726_0917.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0008_customeritem.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0009_auto_20160824_1102.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0010_auto_20160824_1351.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0011_customeraddress_company.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0012_auto_20160824_1622.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0013_auto_20160825_0815.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0014_auto_20160825_1042.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0014_rmvdefaultleaddate_customeritem.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0015_merge.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0016_auto_20160825_2134.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0017_delivery.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/ikari/__pycache__/__init__.cpython-34.pyc
src/ikari/ikari/__pycache__/middleware.cpython-34.pyc
src/ikari/ikari/__pycache__/settings.cpython-34.pyc
src/ikari/ikari/__pycache__/urls.cpython-34.pyc
src/ikari/ikari/__pycache__/wsgi.cpython-34.pyc
src/ikari/items/__pycache__/__init__.cpython-34.pyc
src/ikari/items/__pycache__/admin.cpython-34.pyc
src/ikari/items/__pycache__/forms.cpython-34.pyc
src/ikari/items/__pycache__/models.cpython-34.pyc
src/ikari/items/__pycache__/urls.cpython-34.pyc
src/ikari/items/__pycache__/views.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0002_auto_20160509_1520.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0003_auto_20160516_1536.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0004_auto_20160527_1249.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0005_auto_20160615_1420.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0006_auto_20160616_1558.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0007_auto_20160620_1123.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0008_auto_20160623_1509.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0009_auto_20160628_1101.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0010_auto_20160628_1233.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0011_auto_20160628_1447.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0012_auto_20160629_1000.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0013_auto_20160629_1452.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0014_stockhistory_stock_type.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0015_auto_20160818_1606.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0015_itemcategory_code.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0016_itemmeasure_code.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0017_merge.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0018_item_items.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0019_auto_20160824_1252.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0020_itemratio_items.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0021_auto_20160824_1609.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0022_auto_20160824_1659.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0023_item_purchase_measure.cpython-34.pyc
src/ikari/items/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/locations/__pycache__/__init__.cpython-34.pyc
src/ikari/locations/__pycache__/admin.cpython-34.pyc
src/ikari/locations/__pycache__/models.cpython-34.pyc
src/ikari/locations/__pycache__/urls.cpython-34.pyc
src/ikari/locations/__pycache__/views.cpython-34.pyc
src/ikari/locations/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/locations/migrations/__pycache__/0002_auto_20160527_1011.cpython-34.pyc
src/ikari/locations/migrations/__pycache__/0003_auto_20160825_1234.cpython-34.pyc
src/ikari/locations/migrations/__pycache__/0004_auto_20160826_1444.cpython-34.pyc
src/ikari/locations/migrations/__pycache__/0005_activelocation_locations.cpython-34.pyc
src/ikari/locations/migrations/__pycache__/0006_locationitem.cpython-34.pyc
src/ikari/locations/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/orders/__pycache__/__init__.cpython-34.pyc
src/ikari/orders/__pycache__/admin.cpython-34.pyc
src/ikari/orders/__pycache__/forms.cpython-34.pyc
src/ikari/orders/__pycache__/models.cpython-34.pyc
src/ikari/orders/__pycache__/urls.cpython-34.pyc
src/ikari/orders/__pycache__/views.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0002_auto_20160505_1618.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0003_auto_20160506_1359.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0004_auto_20160509_1611.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0005_auto_20160614_1515.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0006_auto_20160616_0913.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0007_remove_order_account.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0008_auto_20160616_1615.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0009_auto_20160623_1447.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0010_auto_20160628_1243.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0011_auto_20160630_1035.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0012_order_parent.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0013_auto_20160727_1331.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0014_auto_20160817_1410.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0015_auto_20160824_0940.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0016_auto_20160824_0953.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0017_auto_20160824_0955.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0018_order_term.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0019_auto_20160830_0900.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0020_auto_20160830_0915.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0021_auto_20160830_0917.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0022_orderitem_supplier.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0023_auto_20160830_0927.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0024_auto_20160830_0931.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0025_auto_20160830_0937.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0026_auto_20160830_1034.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0027_auto_20160830_1514.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/reports/__pycache__/__init__.cpython-34.pyc
src/ikari/reports/__pycache__/admin.cpython-34.pyc
src/ikari/reports/__pycache__/models.cpython-34.pyc
src/ikari/reports/__pycache__/numbered_page.cpython-34.pyc
src/ikari/reports/__pycache__/print_CL2400.cpython-34.pyc
src/ikari/reports/__pycache__/print_GL2200.cpython-34.pyc
src/ikari/reports/__pycache__/print_order.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7103.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7201.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7202.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7203.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7206.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7300.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7301.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7302.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7401.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7402.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7405.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7601.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7602.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7603.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR8600.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR8601.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR8602.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR8603.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR8700.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR8701.cpython-34.pyc
src/ikari/reports/__pycache__/urls.cpython-34.pyc
src/ikari/reports/__pycache__/views.cpython-34.pyc
src/ikari/reports/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/reports/migrations/__pycache__/0002_auto_20160602_1633.cpython-34.pyc
src/ikari/reports/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/staffs/__pycache__/__init__.cpython-34.pyc
src/ikari/staffs/__pycache__/admin.cpython-34.pyc
src/ikari/staffs/__pycache__/forms.cpython-34.pyc
src/ikari/staffs/__pycache__/models.cpython-34.pyc
src/ikari/staffs/__pycache__/urls.cpython-34.pyc
src/ikari/staffs/__pycache__/views.cpython-34.pyc
src/ikari/staffs/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/staffs/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/suppliers/__pycache__/__init__.cpython-34.pyc
src/ikari/suppliers/__pycache__/admin.cpython-34.pyc
src/ikari/suppliers/__pycache__/lookups.cpython-34.pyc
src/ikari/suppliers/__pycache__/models.cpython-34.pyc
src/ikari/suppliers/__pycache__/urls.cpython-34.pyc
src/ikari/suppliers/__pycache__/views.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0002_auto_20160628_0918.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0003_auto_20160628_0933.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0004_auto_20160628_1035.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0005_auto_20160720_1052.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0006_auto_20160824_1059.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0007_auto_20160824_1102.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0008_auto_20160824_1302.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0009_auto_20160824_1626.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0010_auto_20160825_0815.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0011_auto_20160825_1041.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0011_rmvdefaultleaddate_customeritem.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0012_merge.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0013_auto_20160825_2134.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/taxes/__pycache__/__init__.cpython-34.pyc
src/ikari/taxes/__pycache__/admin.cpython-34.pyc
src/ikari/taxes/__pycache__/forms.cpython-34.pyc
src/ikari/taxes/__pycache__/models.cpython-34.pyc
src/ikari/taxes/__pycache__/urls.cpython-34.pyc
src/ikari/taxes/__pycache__/views.cpython-34.pyc
src/ikari/taxes/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/taxes/migrations/__pycache__/0002_tax_code.cpython-34.pyc
src/ikari/taxes/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/transactions/__pycache__/__init__.cpython-34.pyc
src/ikari/transactions/__pycache__/admin.cpython-34.pyc
src/ikari/transactions/__pycache__/forms.cpython-34.pyc
src/ikari/transactions/__pycache__/models.cpython-34.pyc
src/ikari/transactions/__pycache__/urls.cpython-34.pyc
src/ikari/transactions/__pycache__/views.cpython-34.pyc
src/ikari/transactions/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/transactions/migrations/__pycache__/0002_auto_20160517_1418.cpython-34.pyc
src/ikari/transactions/migrations/__pycache__/0003_auto_20160517_1600.cpython-34.pyc
src/ikari/transactions/migrations/__pycache__/0004_auto_20160520_1046.cpython-34.pyc
src/ikari/transactions/migrations/__pycache__/0005_paymentmode.cpython-34.pyc
src/ikari/transactions/migrations/__pycache__/0006_auto_20160825_0815.cpython-34.pyc
src/ikari/transactions/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/utilities/__pycache__/__init__.cpython-34.pyc
src/ikari/utilities/__pycache__/constants.cpython-34.pyc
.python-version
src/ikari/accounts/__init__.pyc
src/ikari/accounts/models.pyc
src/ikari/banks/__init__.pyc
src/ikari/companies/__init__.pyc
src/ikari/companies/models.pyc
src/ikari/contacts/__init__.pyc
src/ikari/countries/__init__.pyc
src/ikari/countries/models.pyc
src/ikari/currencies/__init__.pyc
src/ikari/currencies/models.pyc
src/ikari/customers/__init__.pyc
src/ikari/customers/models.pyc
src/ikari/customers/migrations/__pycache__/0018_auto_20160906_2040.cpython-34.pyc
src/ikari/ikari/__init__.pyc
src/ikari/ikari/settings.pyc
src/ikari/items/__init__.pyc
src/ikari/locations/__init__.pyc
src/ikari/orders/__init__.pyc
src/ikari/orders/migrations/__pycache__/0018_auto_20160829_1915.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0028_order_transport_responsibility.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0029_auto_20160905_1623.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0030_auto_20160906_1716.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0030_merge.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0031_merge.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0032_auto_20160906_2040.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0033_auto_20160907_1551.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0034_remove_orderitem_refer_line.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0035_orderitem_refer_line.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0036_orderdelivery_delivery.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0037_auto_20160909_1321.cpython-34.pyc
src/ikari/reports/__init__.pyc
src/ikari/staffs/__init__.pyc
src/ikari/suppliers/__init__.pyc
src/ikari/taxes/__init__.pyc
src/ikari/taxes/models.pyc
src/ikari/transactions/__init__.pyc
src/ikari/transactions/models.pyc
src/ikari/transactions/migrations/__pycache__/0007_auto_20160906_2040.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0039_auto_20160916_0406.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0040_auto_20160916_0413.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0041_auto_20160916_0417.cpython-34.pyc
src/ikari/currencies/migrations/__pycache__/0004_auto_20160916_1036.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0020_auto_20160916_1036.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0025_auto_20160916_1036.cpython-34.pyc
src/ikari/locations/migrations/__pycache__/0008_auto_20160916_1036.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0042_auto_20160916_1036.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0043_merge.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0044_auto_20160919_1251.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0045_auto_20160919_1312.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0046_auto_20160919_1314.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0047_remove_orderitem_quantity.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0048_orderitem_quantity.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0049_auto_20160919_1342.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0050_auto_20160919_1347.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0051_auto_20160919_1348.cpython-34.pyc
src/ikari/transactions/migrations/__pycache__/0009_auto_20160916_1036.cpython-34.pyc
src/ikari/accounting/__pycache__/__init__.cpython-34.pyc
src/ikari/accounting/__pycache__/admin.cpython-34.pyc
src/ikari/accounting/__pycache__/forms.cpython-34.pyc
src/ikari/accounting/__pycache__/models.cpython-34.pyc
src/ikari/accounting/__pycache__/urls.cpython-34.pyc
src/ikari/accounting/__pycache__/views.cpython-34.pyc
src/ikari/accounting/migrations/__pycache__/0001_initial.cpython-34.pyc
src/ikari/accounting/migrations/__pycache__/0002_auto_20161013_1053.cpython-34.pyc
src/ikari/accounting/migrations/__pycache__/0003_auto_20161017_1121.cpython-34.pyc
src/ikari/accounting/migrations/__pycache__/0004_auto_20161017_1331.cpython-34.pyc
src/ikari/accounting/migrations/__pycache__/0005_auto_20161017_1348.cpython-34.pyc
src/ikari/accounting/migrations/__pycache__/0006_auto_20161017_1432.cpython-34.pyc
src/ikari/accounting/migrations/__pycache__/0007_journal_account_set.cpython-34.pyc
src/ikari/accounting/migrations/__pycache__/__init__.cpython-34.pyc
src/ikari/accounts/migrations/__pycache__/0003_distributioncode.cpython-34.pyc
src/ikari/accounts/migrations/__pycache__/0004_auto_20161012_1311.cpython-34.pyc
src/ikari/accounts/migrations/__pycache__/0005_auto_20161013_1050.cpython-34.pyc
src/ikari/accounts/migrations/__pycache__/0006_auto_20161013_1052.cpython-34.pyc
src/ikari/companies/migrations/__pycache__/0003_auto_20160926_1021.cpython-34.pyc
src/ikari/currencies/migrations/__pycache__/0005_auto_20160920_0840.cpython-34.pyc
src/ikari/customers/migrations/__pycache__/0021_customer_account_set.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0026_auto_20161004_1444.cpython-34.pyc
src/ikari/items/migrations/__pycache__/0027_auto_20161019_1008.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0053_auto_20160926_1015.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0054_auto_20160926_1435.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0055_auto_20161018_1108.cpython-34.pyc
src/ikari/orders/migrations/__pycache__/0056_orderitem_return_quantity.cpython-34.pyc
src/ikari/reports/__pycache__/print_APAgedTrial_Detail.cpython-34.pyc
src/ikari/reports/__pycache__/print_APAgedTrial_Summary.cpython-34.pyc
src/ikari/reports/__pycache__/print_ARAgedTrial_Detail.cpython-34.pyc
src/ikari/reports/__pycache__/print_ARAgedTrial_Summary.cpython-34.pyc
src/ikari/reports/__pycache__/print_do_order.cpython-34.pyc
src/ikari/reports/__pycache__/print_packing_list.cpython-34.pyc
src/ikari/reports/__pycache__/print_po_order.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7503.cpython-34.pyc
src/ikari/reports/__pycache__/print_SR7504.cpython-34.pyc
src/ikari/reports/__pycache__/print_tax_invoice.cpython-34.pyc
src/ikari/staffs/migrations/__pycache__/0002_auto_20161005_1621.cpython-34.pyc
src/ikari/suppliers/migrations/__pycache__/0014_supplier_account_set.cpython-34.pyc
src/ikari/taxes/migrations/__pycache__/0003_auto_20160920_0842.cpython-34.pyc
src/ikari/transactions/migrations/__pycache__/0010_auto_20161013_1056.cpython-34.pyc
*.pyc
*.md

# Docker related files
Dockerfile
docker-compose.yml
manage_docker.py
src/ikari/scripts/entrypoint.sh
src/ikari/scripts/wait-for.sh
src/ikari/ikari/settings_docker.py
# ignore complete settings
src/ikari/ikari/