{% extends "base.html" %}

<!--dynamic table-->
{% block extrahead %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap-datepicker/css/datepicker.css' %}"/>
    <link href="{% static "css/select2/select2.css" %}" rel="stylesheet">
    <style>
        .hide_column {
            display : none;
        }
    </style>
{% endblock %}

{% block title %}Report View{% endblock %}
{% block parent_accounting_a_active %}active{% endblock %}
{% block parent_accounting_i_active %}active{% endblock %}
{% block parent_AP_a_active %}active{% endblock %}
{% block parent_AP_i_active %}active{% endblock %}
{% block ap_report_active %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <section class="panel" id="secReportList">
                <header class="panel-heading">
                    AP Reports
                </header>
                <div class="panel-body form-horizontal">
                    <form class="form-horizontal" action="" role="form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" id="hdReportId">
                            <label class="control-label col-md-12">A/P Aged Payables</label>
                            <div class="col-md-12">
                                <select class="form-control" id="report_list" name="report_list">
                                    {% for report in ap_report_list %}
                                        <option value="{{ report.0 }}">
                                            {{ report.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section class="panel" id="secFilterCondition">
                <header class="panel-heading">
                    Filter Conditions
                </header>
                <div class="panel-body form-horizontal">
                    <div id="divDateFromTo" class="form-group filter divAP1 divAP2">

                        <label class="control-label col-md-12">Age As Off</label>
                        <div class="col-md-10">
                            <input class="form-control form-control-inline input-medium default-date-picker"
                                    id="age_of_date" size="16"
                                    type="text" value="{{session_date}}"/>
                        </div>

                        <label class="control-label col-md-12">Cutoff by</label>
                        <div class="col-md-11">
                            <select class="form-control" id="date_list" name="date_list">
                                {% for date in date_type %}
                                    <option value="{{ date.0 }}">
                                        {{ date.0 }} - {{ date.1 }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <label class="control-label col-md-12">Cutoff Date</label>
                        <div class="col-md-10">
                            <input class="form-control form-control-inline input-medium default-date-picker"
                                    id="cutoff_date" size="16"
                                    type="text" value="{{session_date}}" required/>
                        </div>

                        <label class="control-label col-md-12">Vendor From:</label>
                        <div class="col-md-8">
                            <input type="text" class="hidden" id="id_sup_from" name="id_sup_from">
                            {% comment %} <input type="text" class="form-control" id="lbSR7405Sup" name="lbSR7405Sup"> {% endcomment %}
                            <select class="form-control" id="lbSR7405Sup" name="lbSR7405Sup">
                                <option value="">Select Vendor</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                        <button id="btnSearchSupplier" type="button" class="btn btn-info sended" data-toggle="modal"
                                href="#SupplierListModal"><i class="fa fa-search"></i></button>
                        </div>

                        <label class="control-label col-md-12">Vendor To:</label>
                        <div class="col-md-8">
                            <input type="text" class="hidden" id="id_sup_to" name="id_sup_to">
                            {% comment %} <input type="text" class="form-control" id="code_sup_to" name="code_sup_to"> {% endcomment %}
                            <select class="form-control" id="lbSR7405Sup_to" name="lbSR7405Sup_to">
                                <option value="">Select Vendor</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                        <button id="btnSearchSupplier_to" type="button" class="btn btn-info sended" data-toggle="modal"
                                href="#SupplierListModal_to"><i class="fa fa-search"></i></button>
                        </div>

                        <label class="control-label col-md-12">---Use Aging Periods---</label>
                        <div class="col-md-12" style="font-size: 12px">
                           <label class="control-label col-md-8">Current</label> <input name="per_curr" id="per_curr" class="styled col-md-4" type="number" value="0">
                           <label class="control-label col-md-8">1st</label> <input name="per_1st" id="per_1st" class="styled col-md-4" type="number" value="{{ age.0 }}">
                           <label class="control-label col-md-8">2nd</label> <input name="per_2nd" id="per_2nd" class="styled col-md-4" type="number" value="{{ age.1 }}">
                           <label class="control-label col-md-8">3rd</label> <input name="per_3rd" id="per_3rd" class="styled col-md-4" type="number" value="{{ age.2 }}">
                           <label class="control-label col-md-8">Over</label> <input name="per_over" id="per_over" class="styled col-md-4" type="number" value="{{ age.2 }}" disabled>
                        </div>
                        <label class="control-label col-md-12">Transaction Type</label>
                        <div class="col-md-11" style="font-size: 12px">
                            <input name="inv" id="inv" class="styled" type="checkbox">
                                <label for="inv">
                                    &nbsp;Invoice
                            </label><br>
                            <input name="debit" id="debit" class="styled" type="checkbox">
                                <label for="debit">
                                    &nbsp;Debit Note
                            </label><br>
                            <input name="credit" id="credit" class="styled" type="checkbox">
                                <label for="credit">
                                    &nbsp;Credit Note
                            </label><br>
                            <input name="interest" id="interest" class="styled" type="checkbox">
                                <label for="interest">
                                    &nbsp;Interest
                            </label><br>
                            <input name="p-payment" id="p-payment" class="styled" type="checkbox">
                                <label for="p-payment">
                                    &nbsp;Prepayment
                            </label><br>
                            <input name="payment" id="payment" class="styled" type="checkbox">
                                <label for="payment">
                                    &nbsp;Payment
                            </label><br>
                            <input name="adjmnt" id="adjmnt" class="styled" type="checkbox">
                                <label for="adjmnt">
                                    &nbsp;Adjustment
                            </label><br>
                        </div>
                        <label class="control-label col-md-12">Currency</label>
                        <div class="col-md-11">
                            <select class="form-control" id="curr_list" name="curr_list">
                                {% for cur in cur_type %}
                                    <option value="{{ cur.0 }}">
                                        {{ cur.0 }} - {{ cur.1 }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="control-label col-md-12"></label>
                        <div class="col-md-12" id="app_detail_div" style="font-size: 12px">
                                    <input name="app_detail" id="app_detail" class="styled" type="checkbox">
                                    <label for="app_detail">&nbsp;Applied Details</label>
                        </div>
                        <div class="col-md-12" id="full_paid_div" style="font-size: 12px">
                                    <input name="full_paid" id="full_paid" class="styled" type="checkbox">
                                    <label for="full_paid">
                                     &nbsp;Fully Paid Trans.
                                </label>
                        </div>
                    </div>
                </div>
            </section>
            <div id="divButton" class="form-group ">
                <div class="col-md-5">
                    <a id="btnReview" tabindex="1" class="btn btn-success" style="">Review</a>
                </div>
                <div class="col-md-7">
                    <a id="btnXLS" tabindex="1" class="btn btn-success" style="">Excel Report</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <section class="panel">
                <div class="panel-body" style="height: 100%; min-height: 500px;">
                    <div id="divViewPDF" class="adv-table">
                        <iframe id="frViewPDF" width="100%" height="100%" style="height: 100%; min-height: 510px;"
                                src=""></iframe>
                    </div>
                    <div id="loadpage"
                         style="position:absolute; left:0px; top:0px; background-color:white; layer-background-color:white; width: 100%; height: 100%;">
                        <p align="center" style="font-size: large;">
                            <img src="/static/img/loading1.gif">
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="modal fade" id="SupplierListModal" tabindex="-1" role="dialog"
         aria-labelledby="SupplierListModal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Search Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div id="supplier_error" class="messages"
                             style="font-size: 12.5px !important;"></div>
                    </div>
                    <div class="form-group" style="margin-right: 0px!important;margin-left: 0px!important;">
                        <section class="panel">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel-body"
                                         style="padding: 0px!important; font-size: 12.5px !important;">
                                        <div class="adv-table">
                                            <table id="supplier-table" style="width: 100% !important;"
                                                   class="display table table-bordered table-striped table-condensed">
                                                <thead>
                                                <tr>
                                                    <th id="sup-code">Supplier Code</th>
                                                    <th id="sup-name">Supplier Name</th>
                                                    <th id="sup-payment_term">Payment Term</th>
                                                    <th id="sup-payment_mode">Payment Mode</th>
                                                    <th id="sup-credit_limit">Credit Limit</th>
                                                    <th id="sup-id" style="display: none;">ID</th>
                                                    {% comment %} <th id="sup-tax" style="display: none;">Tax ID</th>
                                                    <th id="sup-currency" style="display: none;">Currency ID</th>
                                                    <th id="sup-currency_code" style="display: none;">Currency Code</th> {% endcomment %}
                                                    <th></th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                        <button class="btn btn-success" type="button" onclick="changeSupllier()">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="SupplierListModal_to" tabindex="-1" role="dialog"
         aria-labelledby="SupplierListModal_to"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Search Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div id="supplier_error" class="messages"
                             style="font-size: 12.5px !important;"></div>
                    </div>
                    <div class="form-group" style="margin-right: 0px!important;margin-left: 0px!important;">
                        <section class="panel">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel-body"
                                         style="padding: 0px!important; font-size: 12.5px !important;">
                                        <div class="adv-table">
                                            <table id="supplier_to-table" style="width: 100% !important;"
                                                   class="display table table-bordered table-striped table-condensed">
                                                <thead>
                                                <tr>
                                                    <th id="sup-code">Supplier Code</th>
                                                    <th id="sup-name">Supplier Name</th>
                                                    <th id="sup-payment_term">Payment Term</th>
                                                    <th id="sup-payment_mode">Payment Mode</th>
                                                    <th id="sup-credit_limit">Credit Limit</th>
                                                    <th id="sup-id" style="display: none;">ID</th>
                                                    {% comment %} <th id="sup-tax" style="display: none;">Tax ID</th>
                                                    <th id="sup-currency" style="display: none;">Currency ID</th>
                                                    <th id="sup-currency_code" style="display: none;">Currency Code</th> {% endcomment %}
                                                    <th></th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                        <button class="btn btn-success" type="button" onclick="changeSupllier_to()">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extrafoot %}
    {% load staticfiles %}

    <script src="{% static "assets/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/datatables/js/dataTables.bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static 'assets/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/advanced-form-datepicker.js' %}"></script>
    <script src="{% static "js/select2/select2.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#report_list').select2({});
            $('#date_list').select2({});
            $('#curr_list').select2({});

            $('#report_list').on('select2:close', function (e)
            {
                $('#age_of_date').focus();
            });

            $('#date_list').on('select2:close', function (e)
            {
                $('#cutoff_date').focus();
            });

            $('#curr_list').on('select2:close', function (e)
            {
                $('#btnReview').focus();
            });

            get_supplier_data();
        });

        $(document).on('keyup', '.select2-selection.select2-selection--single', function (e) {
            var keycode = (e.keyCode ? e.keyCode : e.which);
            if(keycode == '9'){
                $(this).closest(".select2-container").siblings('select:enabled').select2('open');
            }
        });

        $('#btnReview').bind('keydown', function (event) {
            if (event.which == 13) {
                $(this).click()
            }
        });

        $('#btnXLS').bind('keydown', function (event) {
            if (event.which == 13) {
                $(this).click()
            }
        });

        function get_supplier_data() {
            $.ajax({
                type: "GET",
                url: "/suppliers/get_supplier_code_list/",
                success: function (data) {
                    cust_code_list = data.supplier_list;
                    $.each(cust_code_list, function (i, item) {
                        $('#lbSR7405Sup').append($('<option>', {
                            value: item[0],
                            text : item[1]
                        }));
                    });
                    $.each(cust_code_list, function (i, item) {
                        $('#lbSR7405Sup_to').append($('<option>', {
                            value: item[0],
                            text : item[1]
                        }));
                    });
                    $('#lbSR7405Sup').select2({
                        placeholder: "Select Vendor",
                        allowClear: true
                    });
                    $('#lbSR7405Sup_to').select2({
                        placeholder: "Select Vendor",
                        allowClear: true
                    });

                    $('#lbSR7405Sup').on('select2:close', function (e)
                    {
                        $('#lbSR7405Sup_to').focus();
                        $('#lbSR7405Sup_to').select2('open');
                    });

                    $('#lbSR7405Sup_to').on('select2:close', function (e)
                    {
                        $('#per_curr').focus();
                    });
                }
            });
        }
        $("#lbSR7405Sup").on('change', function(){
            var selected_to = $("#lbSR7405Sup").val();
            $("#id_sup_from").val(selected_to).trigger('change');
        });
        $("#lbSR7405Sup_to").on('change', function(){
            var selected_to = $("#lbSR7405Sup_to").val();
            $("#id_sup_to").val(selected_to).trigger('change');
        });
        $('#supplier-table').on( 'draw.dt', function () {
            selectTableRow('#supplier-table', 6);
            $("input[type='radio']").each(function () {
                $(this).closest('tr').css('background-color', '#f9f9f9');
            });
        });
        $('#btnSearchSupplier').on('click', function () {
            $("#supplier_error").text(""); // Delete error message
            $('#supplier-table').DataTable().destroy();
            $('#supplier-table').dataTable({
                "iDisplayLength": 10,
                "bLengthChange": false,
                "order": [[0, "asc"]],
                "serverSide": true,
                "ajax": {
                    "url": "/accounting/supplier_list/"
                },
                "columns": [
                    {"data": "code", "sClass": "text-left"},
                    {"data": "name", "sClass": "text-left"},
                    {"data": "term_days", "sClass": "text-left"},
                    {"data": "payment_mode", "sClass": "text-left"},
                    {"data": "credit_limit", "sClass": "text-left hide_column"},
                    {"data": "id", "sClass": "hide_column"},
                    {
                        "orderable": false,
                        "data": null,
                        "sClass": "hide_column",
                        "render": function (data, type, full, meta) {
                            return '<input type="radio" name="supplier-choices" id="' +
                                full.id + '" class="call-checkbox" value="' + meta.row + '">';
                        }
                    }
                ]
            });
            setTimeout(() => {
                $('#supplier-table').DataTable().columns.adjust();
            }, 300);
        });
        $('#supplier_to-table').on( 'draw.dt', function () {
            selectTableRow('#supplier_to-table', 6);
            $("input[type='radio']").each(function () {
                $(this).closest('tr').css('background-color', '#f9f9f9');
            });
        });
        $('#btnSearchSupplier_to').on('click', function () {
            $("#supplier_error").text(""); // Delete error message
            $('#supplier_to-table').DataTable().destroy();
            $('#supplier_to-table').dataTable({
                "iDisplayLength": 10,
                "bLengthChange": false,
                "order": [[0, "asc"]],
                "serverSide": true,
                "ajax": {
                    "url": "/accounting/supplier_list/"
                },
                "columns": [
                    {"data": "code", "sClass": "text-left"},
                    {"data": "name", "sClass": "text-left"},
                    {"data": "term_days", "sClass": "text-left"},
                    {"data": "payment_mode", "sClass": "text-left"},
                    {"data": "credit_limit", "sClass": "text-left hide_column"},
                    {"data": "id", "sClass": "hide_column"},
                    {
                        "orderable": false,
                        "data": null,
                        "sClass": "hide_column",
                        "render": function (data, type, full, meta) {
                            return '<input type="radio" name="supplier_to-choices" id="' +
                                full.id + '" class="call-checkbox" value="' + meta.row + '">';
                        }
                    }
                ]
            });
            setTimeout(() => {
                $('#supplier_to-table').DataTable().columns.adjust();
            }, 300);
        });
        function changeSupllier() {
            var row = $("input[name='supplier-choices']:checked").val();
            if (row) {
                var table = $('#supplier-table').DataTable();
                var supplier_code = table.cell(row, $("#sup-code").index()).data();
                var sup_id = table.cell(row, $("#sup-id").index()).data();
                $("#lbSR7405Sup").val(sup_id).trigger('change');
                $("#SupplierListModal").modal("hide");
                $("#id_sup_from").val(cust_id).trigger('change');
            }
        }
        function changeSupllier_to() {
            var row = $("input[name='supplier_to-choices']:checked").val();
            if (row) {
                var table = $('#supplier_to-table').DataTable();
                var supplier_code = table.cell(row, $("#sup-code").index()).data();
                var sup_id = table.cell(row, $("#sup-id").index()).data();
                $("#lbSR7405Sup_to").val(sup_id).trigger('change');
                $("#SupplierListModal_to").modal("hide");
                $("#id_sup_to").val(sup_id).trigger('change');

            }
        }
        $('#sandbox-container input').datepicker({
            format: "mm-yyyy",
            startView: 1,
            minViewMode: 1,
            autoclose: true
        });

        function dateView(date){
            var pecahin = date.split('-');
            var today = pecahin[2]+'-'+pecahin[1]+'-'+pecahin[0];
            return today
        }

        function takeday(date) {
            var pecahin = date.split('-');
            var today = pecahin[2]+'-'+pecahin[1]+'-'+pecahin[0];
            return today
        }

        var age_of_date, cutoff_date;
        // $('#age_of_date').keyup(function(event) {
        //      if (event.which != 13) {
        //         adjust_input_date(this);
        //         age_of_date = $(this).val();
        //      } else {
        //          if(moment(age_of_date, "DD-MM-YYYY", true).isValid()) {
        //             $(this).datepicker('setDate', age_of_date);
        //             $('#cutoff_date').focus();
        //             $('#cutoff_date').select();
        //         } else {
        //             $(this).datepicker('setDate', new Date());
        //             $('#cutoff_date').select();
        //             $('#cutoff_date').select();
        //         }
        //      }
        // });

        function validateDate(inputId) {
          // press enter
          $(inputId).on('keyup', function(event) {
            if (event.which != 13) {
              adjust_input_date(this);
              date = $(this).val();
            } else {
               if (date && moment(date, "DD-MM-YYYY", true).isValid()) {
                 $(this).val(date);
               } else {
                   $(this).datepicker('setDate', new Date());
               }
               $('#cutoff_date').select();
             }
          });

          // blur
          $(inputId).on('blur', function() {
            date = $(this).val();
            if (date && moment(date, "DD-MM-YYYY", true).isValid()) {
                return;
            } else {
                $(this).datepicker('setDate', new Date());
            }
          });
        }

        validateDate($('#age_of_date'));
        validateDate($('#cutoff_date'));

        var frViewPDF = $('#frViewPDF')[0];
        var divViewPDF = $('#divViewPDF');
        $(document).ready(function () {
            document.getElementById("inv").checked = true;
            document.getElementById("debit").checked = true;
            document.getElementById("credit").checked = true;
            document.getElementById("interest").checked = true;
            document.getElementById("p-payment").checked = true;
            document.getElementById("payment").checked = true;
            document.getElementById("adjmnt").checked = true;
            $("#loadpage").hide();
            $("#report_list").trigger('change');
            //Set height of report view
            var header = $('.header');
            var height = $(this).height() - header.height() * 2;
            divViewPDF.height(height);
            var window = $(window).on('resize', function () {
                divViewPDF.height(height);
            }).trigger('resize'); //on page load
        });

        $("#report_list").change(function () {
            var ord_code = "";

            $("#report_list option:selected").each(function () {
                ord_code = $(this).val();
                $('#hdReportId').val(ord_code);
            });

            {% comment %} $('.filter').css("display", "none");
            $('.divAP' + ord_code).removeAttr("style");
            frViewPDF.setAttribute("src", "");
            divViewPDF.innerHTML = frViewPDF.outerHTML;

            if (ord_code == '0') {
                $('.divButton').css("display", "none");
            }
            else {
                $('#divButton').removeAttr("style");
                if (ord_code == '1') {
                    $('#full_paid_div').css("display", "none");
                    $('#app_detail_div').css("display", "none");
                } else {
                    $('#full_paid_div').css("display", "block");
                    $('#app_detail_div').css("display", "block");
                }
            } {% endcomment %}
        });

        $('#full_paid').on('change', function(){
            if ($(this).prop('checked')) {
                $('#app_detail').prop('checked', true);
            } else {
                $('#app_detail').prop('checked', false);
            }
        })
        $('#app_detail').on('change', function(){
            if ($(this).prop('checked')) {
                $('#full_paid').prop('checked', true);
            } else {
                $('#full_paid').prop('checked', false);
            }
        })
        
        $('#btnReview').on('click', function () {
            var d_name = [];
            var periods = [];
            var hdReportId = $('#hdReportId').val();
            var divFilter = $('.divAP' + hdReportId)[0];
            var url = "";
            var date = $('#date_list').val();
            var document_type = $('#document_list').val();
            var app_detail = $('#app_detail:checked').val();
            var full_paid = $('#full_paid:checked').val();
            var curr_list = $('#curr_list').val();
            $("#loadpage").show();
            var paid_full = 0;
            if (full_paid) {
                paid_full = 1;
            }
            var appl_detail = 0;
            if(app_detail) {
                appl_detail = 1;
            }
            $("#loadpage").show();

            var id_sup_start = $('#id_sup_from').val();
            var id_sup_end = $('#id_sup_to').val();
            var start = 0
            if (id_sup_start > 0){
                start = id_sup_start;
            }
            var ending = 0
            if (id_sup_end > 0){
                ending = id_sup_end;
            }
            var range_cust = '0';
            if (start == '0'  ||  ending == '0') {
                range_cust = '0';
            }else{
                range_cust = start+','+ending;
            }
            if ($('#lbSR7405Sup').val()== '' || $('#lbSR7405Sup_to').val() == '') {
                parse_cust = '0';

            }else{
                parse_cust = range_cust.toString();
            }
            if (document.getElementById("inv").checked){
                d_name.push(1);
            }
            if (document.getElementById("debit").checked){
                d_name.push(2);
            }
            if (document.getElementById("credit").checked){
                d_name.push(3);
            }
            if (document.getElementById("interest").checked){
                d_name.push(4);
            }
            if (document.getElementById("p-payment").checked){
                d_name.push(6);
            }
            if (document.getElementById("payment").checked){
                d_name.push(9);
            }
            if (document.getElementById("adjmnt").checked){
                d_name.push(10);
            }
            parse_macam_doc = d_name.toString();

            //period array
            if(parseInt($('#per_1st').val()) > 0 && parseInt($('#per_2nd').val()) > 0 && parseInt($('#per_3rd').val()) > 0) {
                if(parseInt($('#per_curr').val()) < parseInt($('#per_1st').val()) &&
                    parseInt($('#per_1st').val()) < parseInt($('#per_2nd').val()) &&
                    parseInt($('#per_2nd').val()) < parseInt($('#per_3rd').val()) ) {
                        periods.push($('#per_curr').val());
                        periods.push($('#per_1st').val());
                        periods.push($('#per_2nd').val());
                        periods.push($('#per_3rd').val());
                        periods_str = periods.toString();
                } else {
                    pop_ok_dialog("Invalid aging periods",
                                "Please input valid & sequential aging period.",
                                function () { return; });
                    hdReportId = '0';
                }
            } else {
                pop_ok_dialog("Invalid aging periods",
                                "Please input valid & sequential aging period.",
                                function () { return; });
                hdReportId = '0';
            }
            //Print SR.... reports
            switch (hdReportId) {
                case '1':
                case '2':
                    inputData = divFilter.getElementsByTagName("input");
                    if (inputData.length > 0) {
                        ageAsOfDate = inputData[0].value.split("-").reverse().join("-");
                        cutOffDate = inputData[1].value.split("-").reverse().join("-");
                        customerCode = inputData[2].value

                        if (ageAsOfDate.length == 0 || cutOffDate.length == 0) {
                            alert("Please select a valid date!");
                            $("#loadpage").hide();
                            break;
                        }
                        if (ageAsOfDate.length == 0)
                            ageAsOfDate = '0'
                        if (cutOffDate.length == 0)
                            cutOffDate = '0'
                        if (customerCode.length == 0)
                            customerCode = '0'
                        url = '/reports/print_AP' + hdReportId + '/' + ageAsOfDate + '/' + cutOffDate + '/'
                                + parse_cust + '/' + date + '/' + parse_macam_doc + '/'+ curr_list + '/' + paid_full + '/' + periods_str + '/' + appl_detail + '/';
                        frViewPDF.setAttribute("src", url);
                        divViewPDF.innerHTML = frViewPDF.outerHTML;
                    }
                    break;
                default:
                    frViewPDF.setAttribute("src", "");
                    divViewPDF.innerHTML = frViewPDF.outerHTML;
                    break;
            }

            document.getElementById("frViewPDF").onload = function () {
                $("#loadpage").hide();
            }

        });
        $('#btnXLS').on('click', function () {
            var d_name = [];
            var periods = [];
            var hdReportId = $('#hdReportId').val();
            var divFilter = $('.divAP' + hdReportId)[0];
            var url = "";
            var date = $('#date_list').val();
            var document_type = $('#document_list').val();
            var app_detail = $('#app_detail:checked').val();
            var full_paid = $('#full_paid:checked').val();
            var curr_list = $('#curr_list').val();
            var paid_full = 0;
            if (full_paid) {
                paid_full = 1;
            }
            var appl_detail = 0;
            if(app_detail) {
                appl_detail = 1;
            }

            var id_sup_start = $('#id_sup_from').val();
            var id_sup_end = $('#id_sup_to').val();
            var start = 0
            if (id_sup_start > 0){
                start = id_sup_start;
            }
            var ending = 0
            if (id_sup_end > 0){
                ending = id_sup_end;
            }
            var range_cust = '0';
            if (start == '0'  ||  ending == '0') {
                range_cust = '0';
            }else{
                range_cust = start+','+ending;
            }
            if ($('#lbSR7405Sup').val()== '' || $('#lbSR7405Sup_to').val() == '') {
                parse_cust = '0';

            }else{
                parse_cust = range_cust.toString();
            }
            if (document.getElementById("inv").checked){
                d_name.push(1);
            }
            if (document.getElementById("debit").checked){
                d_name.push(2);
            }
            if (document.getElementById("credit").checked){
                d_name.push(3);
            }
            if (document.getElementById("interest").checked){
                d_name.push(4);
            }
            if (document.getElementById("p-payment").checked){
                d_name.push(6);
            }
            if (document.getElementById("payment").checked){
                d_name.push(9);
            }
            if (document.getElementById("adjmnt").checked){
                d_name.push(10);
            }
            parse_macam_doc = d_name.toString();

            //period array
            if(parseInt($('#per_1st').val()) > 0 && parseInt($('#per_2nd').val()) > 0 && parseInt($('#per_3rd').val()) > 0) {
                if(parseInt($('#per_curr').val()) < parseInt($('#per_1st').val()) &&
                    parseInt($('#per_1st').val()) < parseInt($('#per_2nd').val()) &&
                    parseInt($('#per_2nd').val()) < parseInt($('#per_3rd').val()) ) {
                        periods.push($('#per_curr').val());
                        periods.push($('#per_1st').val());
                        periods.push($('#per_2nd').val());
                        periods.push($('#per_3rd').val());
                        periods_str = periods.toString();
                } else {
                    pop_ok_dialog("Invalid aging periods",
                                "Please input valid & sequential aging period.",
                                function () { return; });
                    hdReportId = '0';
                }
            } else {
                pop_ok_dialog("Invalid aging periods",
                                "Please input valid & sequential aging period.",
                                function () { return; });
                hdReportId = '0';
            }
            //Print SR.... reports
            switch (hdReportId) {
                case '1':
                case '2':
                    inputData = divFilter.getElementsByTagName("input");
                    if (inputData.length > 0) {
                        ageAsOfDate = inputData[0].value.split("-").reverse().join("-");
                        cutOffDate = inputData[1].value.split("-").reverse().join("-");
                        customerCode = inputData[2].value

                        if (ageAsOfDate.length == 0 || cutOffDate.length == 0) {
                            alert("Please select a valid date!");
                            break;
                        }
                        if (ageAsOfDate.length == 0)
                            ageAsOfDate = '0'
                        if (cutOffDate.length == 0)
                            cutOffDate = '0'
                        if (customerCode.length == 0)
                            customerCode = '0'
                        url = '/reports/print_AP_XLS' + hdReportId + '/' + ageAsOfDate + '/' + cutOffDate + '/'
                                + parse_cust + '/' + date + '/' + parse_macam_doc + '/'+ curr_list + '/' + paid_full + '/' + periods_str + '/' + appl_detail + '/';
                        frViewPDF.setAttribute("src", url);
                        //divViewPDF.innerHTML = frViewPDF.outerHTML;
                    }
                    break;
                default:
                    frViewPDF.setAttribute("src", "");
                    divViewPDF.innerHTML = frViewPDF.outerHTML;
                    break;
            }

        });

        $('#per_3rd').on('change', function(e){
            let t_val = $('#per_3rd').val();
            $('#per_over').val(parseInt(t_val));
        });

    </script>
{% endblock %}
