{% extends "base.html" %}

<!--dynamic table-->
{% block extrahead %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/table.css" %}">
{% endblock %}

{% block title %}Country List{% endblock %}

{% block country_active %}
{% if menu_type == '0' %} {# TRN_CODE_TYPE_DICT['Global'] #}
    active
{% endif %}
{% endblock %}

{% block parent_system_setting_a_active %}
{% if menu_type == '0'%} {# TRN_CODE_TYPE_DICT['Global'] #}
    active
{% endif %}
{% endblock %}

{% block parent_system_setting_i_active %}
{% if menu_type == '0'%} {# TRN_CODE_TYPE_DICT['Global'] #}
    active
{% endif %}
{% endblock %}


{% block parent_order_a_active %}
{% if menu_type == '2'%} {# TRN_CODE_TYPE_DICT['Sales Number File'] #}
    active
{% endif %}
{% endblock %}

{% block parent_order_i_active %}
{% if menu_type == '2'%} {# TRN_CODE_TYPE_DICT['Sales Number File'] #}
    active
{% endif %}
{% endblock %}

{% block sp_setting_a_active %}
{% if menu_type == '2'%} {# TRN_CODE_TYPE_DICT['Sales Number File'] #}
    active
{% endif %}
{% endblock %}

{% block sp_setting_i_active %}
{% if menu_type == '2'%} {# TRN_CODE_TYPE_DICT['Sales Number File'] #}
    active
{% endif %}
{% endblock %}

{% block country_sp_active %}
{% if menu_type == '2'%} {# TRN_CODE_TYPE_DICT['Sales Number File'] #}
    active
{% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading" style="font-size: 20px">
                    Country List
                    <span class="tools pull-right">
                         {% if 'countries.add_country' in user.get_all_permissions %}
                             <a class="btn btn-success start" href="{% url 'country_add' menu_type %}">
                                 <i class="glyphicon glyphicon-plus"></i>
                                 <span>Add new</span>
                             </a>
                         {% endif %}
                    </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table table-responsive">
                        <table class="display table table-bordered table-striped table-hover"
                               id="dynamic-table">
                            <thead>
                            <tr>
                                <th>Code Country</th>
                                <th>Description</th>
                                <!-- <th>Currency</th>
                                <th>Tax</th> -->
                                <th>Last Update</th>
                                {% if 'countries.change_country' in user.get_all_permissions %}
                                    <th class="text-center">Edit</th>
                                {% endif %}
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block js %}
    <!-- Datatables -->
    <script src="{% static "assets/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/datatables/js/dataTables.bootstrap.min.js" %}"></script>

    <script>
        $(document).ready(function () {
            var menu_type = '{{menu_type}}';
            $('#dynamic-table').dataTable({
                "order": [[ 1, "asc" ]],
                "serverSide": true,
                "scrollX": true,
                stateSave: true,
                "ajax": {
                    "url": "{% url 'Countries__asJson' %}"
                },
                "columns": [
                    {"data": "code"},
                    {"data": "name", "width":"200px"},
                    {"data": "update_date", "width":"55px"},
                    {% if 'countries.change_country' in user.get_all_permissions %}
                        {
                            "className": 'text-center',
                            "orderable": false,
                            "data": null,
                            "render": function (data, type, full, meta) {
                                var button_edit = '<a href=../edit/' + data.id + '/'+menu_type+' class="fa fa-pencil fa-lg btn btn-primary btn-sm"></a>'
                                return button_edit;
                            }
                        }
                    {% endif %}
                ]
            });
            $('.dataTables_scrollHeadInner').attr('style', 'margin-left: auto !important; margin-right: auto !important');
        });
    </script>
{% endblock %}
