<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reset.css' %}">
    <!--external css-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/font-awesome/css/font-awesome.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/jquery-ui/jquery-ui-1.10.1.custom.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-responsive.css' %}"/>
    <!-- Custom styles for checkbox -->
    <link rel="stylesheet" href="{% static 'css/build.css' %}">
    <!--right slidebar-->
    <title>
      {% block title %}Reset Password{% endblock %}
    </title>
  </head>

  <body class="body-500">
    <div class="container">
      <section class="error-wrapper">
        <h1>Reset Password!</h1>
        <br/>
        <h2>{{ state }}</h2>
        <p class="page-500">
          <a href="{% url 'login_do' %}">Return Login</a>
        </p>

      </section>
    </div>
  </body>
</html>
