{% extends "mail_templated/base.tpl" %}

{% block subject %}
    [Ikari] Reset Password
{% endblock %}

{% block body %}
    Hello, {{ username }}.


    Your account information:
    User name: {{ username }}
    Email    : {{ email }}
    To reset your password, please click the following link:
    {{ link }}


    Sincerely,
    Ikari Group
{% endblock %}

{% block html %}
    Hello, <em>{{ username }}</em>.<br/><br/>

    Your account information:<br/>
    User name: {{ username }}<br/>
    Email    : {{ email }}<br/>
    To reset your password, please click the following link:
    <a href="{{ link }}">Reset Password</a>.<br/><br/>

    Sincerely,<br/>
    Ikari Group<br/>
{% endblock %}