{% extends "base.html" %}


<!--dynamic table-->
{% block extrahead %}
    {% load staticfiles %}
{% endblock %}

{% block title %}Company List{% endblock %}
{% block company_active %}active{% endblock %}
{% block parent_company_a_active %}active{% endblock %}
{% block parent_company_i_active %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading" style="font-size: 20px">
                    Company List
                    <span class="tools pull-right">
                         {% if 'companies.add_company' in user.get_all_permissions %}
                             <a class="btn btn-success start" href="{% url 'company_add' %}">
                                 <i class="glyphicon glyphicon-plus"></i>
                                 <span>Add new</span>
                             </a>
                         {% endif %}
                     </span>
                </header>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped table-condensed"
                                       id="dynamic-table" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Update Date</th>
                                        <th>Company Name</th>
                                        <th>GST Reg No</th>
                                        <th>Country</th>
                                        <th>Currency</th>
                                        <th>Address</th>
                                        <th class="text-center">Active</th>
                                        {% if 'companies.change_company' in user.get_all_permissions %}
                                            <th class="text-center">Edit</th>
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block extrafoot %}
    {% load staticfiles %}
    <script src="{% static "assets/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/datatables/js/dataTables.bootstrap.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('#dynamic-table').dataTable({
                "order": [[0, "desc"]],
                "serverSide": true,
                "scrollX": true,
                stateSave: true,
                "ajax": {
                    "url": "{% url 'CompanyList__asJson' %}"
                },
                "columns": [
                    {"data": "update_date"},
                    {"data": "name"},
                    {"data": "number"},
                    {"data": "country_name"},
                    {"data": "currency__code"},
                    {"data": "address"},
                    {
                        "className": "text-center",
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, full, meta) {
                            if (full.is_active == 'True') {
                                var mSpan = '<span class="label label-success label-mini">True</span>'
                                return mSpan
                            }
                            else {
                                var mSpan = '<span class="label label-danger label-mini">False</span>'
                                return mSpan
                            }
                        }
                    },
                    {% if 'companies.change_company' in user.get_all_permissions %}
                        {
                            "className": "text-center",
                            "orderable": false,
                            "data": null,
                            "render": function (data, type, full, meta) {
                                var button_edit = '<a href=../edit/' + full.id + '/false/0/ class="fa fa-pencil fa-lg btn btn-primary btn-sm"></a>'
                                return button_edit;
                            }
                        }
                    {% endif %}
                ]
            });
        });
    </script>
{% endblock %}


