{% extends "base.html" %}

{% block extrahead %}
    {% load staticfiles %}
{% endblock %}

{% block title %}Edit Item{% endblock %}
{% block item_active %}active{% endblock %}
{% block inv_setting_a_active %}active{% endblock %}
{% block inv_setting_i_active %}active{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{% url 'item_edit' item.id 2 %}" role="form" method="post" onsubmit="return checkForm(this);" enctype="multipart/form-data"> {# ITEM_TABS['Item'] #}
        {% csrf_token %}
        <div id="content">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs"
                style="padding-left: 20px; margin-left: 18px; margin-right: 24px;">
                <li {% if active_tab_index == '0' %}
                    class="active"
                {% else %}
                    class=""
                {% endif %}>
                    <a href="#item_tab" data-toggle="tab">Item</a>
                </li>
                <li {% if active_tab_index == '1' %}
                    class="active"
                {% else %}
                    class=""
                {% endif %}><a href="#customer_tab" data-toggle="tab">Customers</a></li>
                <li {% if active_tab_index == '2' %}
                    class="active"
                {% else %}
                    class=""
                {% endif %}><a href="#supplier_tab" data-toggle="tab">Suppliers</a></li>
            </ul>

            <div id="my-tab-content" class="tab-content">
                <div id="item_tab" {% if active_tab_index == '0' %}
                     class="tab-pane active"
                {% else %}
                     class="tab-pane"
                {% endif %}>
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <strong>Edit Item</strong>
                            </header>
                            <div class="panel-body">
                                <div class="form-group ">
                                    <label for="code" class="col-lg-2 col-sm-2 control-label">Part Number<span
                                            class="span-required">(*)</span></label>
                                    <div class="col-lg-4">
                                        {{ form.code|default_if_none:"" }}
                                    </div>
                                    <span class="messages">{{ form.errors.customer }}</span>
                                    <label for="category" class="col-lg-2 col-sm-2 control-label">Part Group</label>
                                    <div class="col-lg-4">
                                        {{ form.category|default_if_none:"" }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-lg-2 col-sm-2 control-label">Part Name</label>
                                    <div class="col-lg-4">
                                        {{ form.name|default_if_none:"" }}
                                    </div>
                                    <label for="country" class="col-lg-2 col-sm-2 control-label">Country Origin</label>
                                    <div class="col-lg-4">{{ form.country|default_if_none:"" }}</div>
                                </div>
                                <div class="form-group">
                                    <label for="measure_list" class="col-lg-2 col-sm-2 control-label">Report
                                        Measurement</label>
                                    <div class="col-lg-4">{{ form.report_measure|default_if_none:"" }}</div>
                                    <label for="inv_measure" class=" col-lg-2 col-sm-2 control-label">Inventory
                                        Measurement</label>
                                    <div class="col-lg-4">{{ form.inv_measure|default_if_none:"" }}</div>
                                </div>
                                <div class="form-group">
                                    <label for="model_qty" class="col-lg-2 col-sm-2 control-label">Qty per Model</label>
                                    <div class="col-lg-4">
                                        {{ form.model_qty|default_if_none:"" }}
                                    </div>
                                    <label for="minimum_order" class="col-lg-2 col-sm-2 control-label">Minimum Order
                                        Qty</label>
                                    <div class="col-lg-4">{{ form.minimun_order|default_if_none:"" }}</div>
                                </div>
                                <div class="form-group">
                                    <label for="ratio" class="col-lg-2 col-sm-2 control-label">Ratio</label>
                                    <div class="col-lg-4">
                                        {{ form.ratio|default_if_none:"" }}
                                    </div>
                                    <label for="person_incharge" class="col-lg-2 col-sm-2 control-label">Person In
                                        Charge</label>
                                    <div class="col-lg-4">
                                        {{ form.person_incharge|default_if_none:"" }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="default_supplier" class="col-lg-2 col-sm-2 control-label">Default Supplier</label>
                                    <div class="col-lg-4">
                                        {{ form.default_supplier|default_if_none:"" }}
                                    </div>
                                    <label for="default_location" class="col-lg-2 col-sm-2 control-label">Default Location</label>
                                    <div class="col-lg-4">
                                        {{ form.default_location|default_if_none:"" }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <header class="col-lg-6 panel-heading">
                                        <strong>Sales Info</strong>
                                    </header>
                                    <header class="col-lg-6 panel-heading">
                                        <strong>Purchase Info</strong>
                                    </header>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label for="sales_price" class=" col-lg-4 col-sm-4 control-label">Sales
                                                Price</label>
                                            <div class="col-lg-8">{{ form.sale_price|default_if_none:"" }}</div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="sale_currency" class=" col-lg-4 col-sm-4 control-label">Sales
                                                Currency</label>
                                            <div class="col-lg-8">{{ form.sale_currency|default_if_none:"" }}</div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="sales_measure" class=" col-lg-4 col-sm-4 control-label">Sales
                                                Measurement</label>
                                            <div class="col-lg-8">{{ form.sales_measure|default_if_none:"" }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label for="purchase_price" class=" col-lg-4 col-sm-4 control-label">Purchase
                                                Price</label>
                                            <div class="col-lg-8">{{ form.purchase_price|default_if_none:"" }}</div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="purchase_currency" class=" col-lg-4 col-sm-4 control-label">Purchase
                                                Currency</label>
                                            <div class="col-lg-8">{{ form.purchase_currency|default_if_none:"" }}</div>
                                        </div>

                                        <div class="form-group ">
                                            <label for="purchase_measure" class=" col-lg-4 col-sm-4 control-label">Purchase
                                                Measurement</label>
                                            <div class="col-lg-8">{{ form.purchase_measure|default_if_none:"" }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="short_desc" class="col-lg-2 col-sm-2 control-label">Short
                                        Descriton</label>
                                    <div class="col-lg-10">{{ form.short_description|default_if_none:"" }}</div>
                                </div>
                                <div class="form-group">
                                    <label for="long_desc" class="col-lg-2 col-sm-2 control-label">Long
                                        Descriton</label>
                                    <div class="col-lg-10">{{ form.name|default_if_none:"" }}</div>
                                </div>
                                <div class="form-group">
                                    <label for="chkActive" class="col-lg-2 col-sm-2 control-label"></label>
                                    <div class="col-lg-10">
                                        <div class="checkbox checkbox-primary">
                                            <input name="chkActive" id="chkActive" class="styled" type="checkbox"
                                                   {% if item.is_active %}checked{% endif %}/>
                                            <label for="chkActive">
                                                Active
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="submit" name="btnSave" class="btn btn-success">Save</button>
                                        <a href="#delete-dialog" data-toggle="modal" class="btn btn-danger">Delete</a>
                                        <a class="btn btn-default" href="{% url 'item_list' %}">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div id="customer_tab" {% if active_tab_index == '1' %}
                     class="tab-pane active"
                {% else %}
                     class="tab-pane"
                {% endif %}>
                    <div class="col-sm-12">
                        <section class="panel">
                            <input type="hidden" name="hdIdJson" id="hdIdJson" value={{ item.id }}>
                            <div class="panel-body">
                                <div class="adv-table">
                                    <table class="display table table-bordered table-striped table-condensed"
                                           id="customer_table" style="width: 100%">
                                        <thead>
                                        <tr>
                                            <th>Update Date</th>
                                            <th>Customer Code</th>
                                            <th>Customer Name</th>
                                            <th>Sales Price</th>
                                            <th>Effective Date</th>
                                            <th>Lead Time</th>
                                            <th class="text-center">Active</th>
                                            {% if 'customers.change_customeritem' in user.get_all_permissions %}
                                                <th class="text-center">Edit</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div id="supplier_tab" {% if active_tab_index == '2' %}
                     class="tab-pane active"
                {% else %}
                     class="tab-pane"
                {% endif %}>
                    <div class="col-sm-12">
                        <section class="panel">
                            <input type="hidden" name="hdIdJson_sup" id="hdIdJson_sup" value={{ item.id }}>
                            <div class="panel-body">
                                <div class="adv-table">
                                    <table class="display table table-bordered table-striped table-condensed"
                                           id="supplier_table" style="width: 100%">
                                        <thead>
                                        <tr>
                                            <th>Update Date</th>
                                            <th>Supplier Code</th>
                                            <th>Supplier Name</th>
                                            <th>Purchase Price</th>
                                            <th>Effective Date</th>
                                            <th>Lead Time</th>
                                            <th class="text-center">Active</th>
                                            {% if 'suppliers.change_supplieritem' in user.get_all_permissions %}
                                                <th class="text-center">Edit</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="delete-dialog"
         class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Delete Confirm Dialog</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="{% url 'item_delete' item.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Are you sure want to delete?</label>
                        </div>
                        <button type="submit" class="btn btn-success">OK</button>
                        <a class="btn btn-default" href="{% url 'item_edit' item.id 2 %}">Cancel</a> {# ITEM_TABS['Item'] #}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <!-- Datatables -->
    <script src="{% static "assets/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/datatables/js/dataTables.bootstrap.min.js" %}"></script>
    <!--dynamic table initialization -->
    <script type="text/javascript">
        $(document).ready(function () {
            var hdIdJson = $('#hdIdJson').val();
            $('#customer_table').dataTable({
                "order": [[0, "desc"]],
                "serverSide": true,
                "ajax": {
                    url: '/items/edit_customer/' + hdIdJson + '/pagination',
                },
                "columns": [
                    {"data": "update_date"},
                    {"data": "code"},
                    {"data": "name"},
                    {"data": "sale_price"},
                    {"data": "effective_date"},
                    {"data": "leading_days"},
                    {
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, full, meta) {
                            if (full.is_active == 'True') {
                                var mSpan = '<span class="label label-success label-mini">True</span>'
                                return mSpan
                            }
                            else {
                                var mSpan = '<span class="label label-danger label-mini">False</span>'
                                return mSpan
                            }
                        }
                    },
                    {
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var button_edit = '<a href="/items/customeritem_edit/' + full.id + '/" class="fa fa-pencil btn btn-primary btn-xs"></a> ';
                            return button_edit;
                        }
                    }
                ]
            });

            $('#customer_table').append("<tfoot>" +
                    '<tr>' + "<td colspan='12' style='text-align: left;'>" +
                    "<a data-toggle='modal' href='{% url 'customeritem_add' item.id %}' class='btn btn-white fa fa-plus'></a>" +
                    "</td>" + "</tr>" + "</tfoot>");

        });

        $(document).ready(function () {
            var hdIdJson = $('#hdIdJson_sup').val();
            $('#supplier_table').dataTable({
                "order": [[0, "desc"]],
                "serverSide": true,
                "ajax": {
                    url: '/items/edit_supplier/' + hdIdJson + '/pagination',
                },
                "columns": [
                    {"data": "update_date"},
                    {"data": "supplier_code"},
                    {"data": "supplier_name"},
                    {"data": "purchase_price"},
                    {"data": "effective_date"},
                    {"data": "leading_days"},
                    {
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, full, meta) {
                            if (full.is_active == 'True') {
                                var mSpan = '<span class="label label-success label-mini">True</span>'
                                return mSpan
                            }
                            else {
                                var mSpan = '<span class="label label-danger label-mini">False</span>'
                                return mSpan
                            }
                        }
                    },
                    {
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var button_edit = '<a href="/items/supplieritem_edit/' + full.id + '/" class="fa fa-pencil btn btn-primary btn-xs"></a> ';
                            return button_edit;
                        }
                    }
                ]
            });

            $('#supplier_table').append("<tfoot>" +
                    '<tr>' + "<td colspan='12' style='text-align: left;'>" +
                    "<a data-toggle='modal' href='{% url 'supplieritem_add' item.id %}' class='btn btn-white fa fa-plus'></a>" +
                    "</td>" + "</tr>" + "</tfoot>");

        });

        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
        $("#id_supplier").blur(function () {
            //debugger;
            var selected_name = this.value;
            if (selected_name) {
                $.ajax({
                    method: "POST",
                    url: '/items/get_supplier_code_by_name/' + selected_name + '/',
                    dataType: 'JSON',
                    data: {
                        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                    },
                    responseTime: 200,
                    success: function (json) {
                        $('input[name="category"]').val(json);
                    }
                });
            }
        });
        $("#purchase_code").change(function () {
            //debugger;
            var selected_code = this.value;
            if (selected_code) {
                $('input[name="code"]').val(selected_code);
            }
        });

    </script>
{% endblock %}
