{% extends "base.html" %}
{% block extrahead %}
    {% load staticfiles %}
    <!-- Datatables -->
    <link href="{% static "assets/datatables/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">

{% endblock %}

{% block title %}Part Sale Price List{% endblock %}
{% block part_sale_active %}active{% endblock %}
{% block customer_a_active %}active{% endblock %}
{% block customer_i_active %}active{% endblock %}
{% block sp_setting_a_active %}active{% endblock %}
{% block sp_setting_i_active %}active{% endblock %}
{% block parent_order_a_active %}active{% endblock %}
{% block parent_order_i_active %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading" style="font-size: 20px">
                    Part Sale Price List
                    <span class="tools pull-right">
                        {% if 'items.add_item' in user.get_all_permissions %}
                        {% if not using_inventory %}
                            <a class="btn btn-success start" href="{% url 'part_sale_add' %}">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add new</span>
                            </a>
                        {% endif %}
                        {% if using_inventory and item != 0 %}
                            <a class="btn btn-success start" href="{% url 'part_sale_add' %}">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add new</span>
                            </a>
                        {% endif %}
                        {% if using_inventory and item == 0 %}
                            <a class="btn btn-danger" href="{% url 'item_add' %}" style="color: #FFFFFF">
                                <i class="glyphicon glyphicon-info-sign"></i>
                                please create an item first ! click here
                                <i class="glyphicon glyphicon-arrow-right"></i>
                            </a>
                        {% endif %}
                        {% endif %}
                    </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped table-condensed"
                               id="custom-table" style="width:100%">
                            <thead>
                            <tr>
                                <th>Update Date</th>
                                <th>Part Number</th>
                                <th>Short Description</th>
                                <th>Part Group</th>
                                <th>Sale Price</th>
                                <th>Purchase Price</th>
                                <!-- <th class="text-center">Active</th> -->
                                {% if 'items.change_item' in user.get_all_permissions %}
                                    <th class="text-center">Edit</th>
                                {% endif %}
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block js %}
    <!-- Datatables -->
    <script src="{% static "assets/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/datatables/js/dataTables.bootstrap.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#custom-table').dataTable({
                "order": [[ 0, "desc" ]],
                "serverSide": true,
                "scrollX": true,
                stateSave: true,
                "ajax": {
                    "url": "{% url 'PartSaleItemList__asJson' %}"
                },
                "columns": [
                    {"data": "update_date"},
                    {"data": "item_code"},
                    {"data": "item_name"},
                    {"data": "category_name"},
                    {"data": "sale_price" , "sClass": "text-right"},
                    {"data": "purchase_price", "visible": false},
                    // {
                    //     "orderable": false,
                    //     "data": null,
                    //     "render": function (data, type, full, meta) {
                    //         if (full.is_active == 'True') {
                    //             var mSpan = '<span class="label label-success label-mini">True</span>'
                    //             return mSpan
                    //         }
                    //         else {
                    //             var mSpan = '<span class="label label-danger label-mini">False</span>'
                    //             return mSpan
                    //         }
                    //     }
                    // },
                    {% if 'items.change_item' in user.get_all_permissions %}
                        {
                            "className": "text-center",
                            "orderable": false,
                            "data": null,
                            "render": function (data, type, full, meta) {
                                var button_edit = '<a href="../part_sale_edit/' + full.id + '/" class="fa fa-pencil fa-lg btn btn-primary btn-sm"></a>'
                                return button_edit;
                            }
                        }
                    {% endif %}
                ]
            });
        });
    </script>
{% endblock %}


