{% extends "base.html" %}

{% block extrahead %}
    {% load staticfiles %}
    <link href="{% static "assets/datatables/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap-datepicker/css/datepicker.css' %}"/>
{% endblock %}

{% block title %}
    {% if customeritem == None %}
        Add Customer Item
    {% else %} Edit Customer Item
    {% endif %}
{% endblock %}
{% block customer_active %}active{% endblock %}
{% block sp_setting_a_active %}active{% endblock %}
{% block sp_setting_i_active %}active{% endblock %}
{% block parent_order_a_active %}active{% endblock %}
{% block parent_order_i_active %}active{% endblock %}

{% block content %}
    <div class="col-lg-12">
    <section class="panel">
    <header class="panel-heading">
        {% if customeritem.id == None %} Add Customer Item
        {% else %} Edit Customer Item {% endif %}
    </header>
    <div class="panel-body">
        {% if messages_error %}
            <div class="text-center alert alert-danger"><strong>{{ messages_error }}</strong></div>
        {% endif %}
        <form class="form-horizontal"
                {% if customeritem.id == None %} action="{% url 'customer_add_item' customer.id %}"
                {% else %} action="{% url 'customer_edit_item' customeritem.id %}" {% endif %}
              role="form" method="post" onsubmit="return checkForm(this);" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="part_number" class="col-lg-2 col-sm-2 control-label">Part Number<span
                        class="span-required">(*)</span></label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="part_number" name="part_number"
                            {% if customeritem.id != None %} value="{{ customeritem.item.code }}" {% endif %} required>
                    <input type="hidden" id="hdItemSelected" name="hdItemSelected"
                            {% if customeritem.id != None %} value="{{ customeritem.item_id }}" {% endif %}>
                </div>
                <div class="col-lg-4">
                    <a data-toggle="modal" href="#myItemListModal"
                       class="btn btn-white fa fa-search">Search</a>
                </div>
            </div>
            <div class="form-group">
                <label for="part_name" class="col-lg-2 col-sm-2 control-label">Part Name</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="part_name" name="part_name"
                            {% if customeritem.id != None %} value="{{ customeritem.item.name }}" {% endif %}
                           readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="customer" class="col-lg-2 col-sm-2 control-label">Sales Currency<span
                        class="span-required">(*)</span></label>
                <div class="col-lg-4">
                    <select class="form-control" id="id_currency" name="currency" required="required"
                            value="{% if customer.currency_id != None %}{{ customer.currency_id }}{% endif %}">
                        {% for c in currency_list %}
                            <option value="{{ c.id }}"
                                    {% if c.id == customeritem.currency_id %}selected{% endif %}
                                    {% if customeritem.id == None and customer.id != None and  c.id == customer.currency_id %}selected{% endif %}
                            >
                                {{ c.code }} - {{ c.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="sales_price" class="col-lg-2 col-sm-2 control-label">Sales Price<span
                        class="span-required">(*)</span></label>
                <div class="col-lg-4">
                    <input type="number" step="0.01" class="form-control" id="sales_price" name="sales_price"
                           required="required"
                            {% if customeritem.id != None %} value="{{ customeritem.sales_price }}" {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="leading_days" class="control-label col-md-2">Lead Time</label>
                <div class="col-md-4">
                    <input type="number" class="form-control" id="leading_days" name="leading_days"
                            {% if customeritem.id != None %} value="{{ customeritem.leading_days }}" {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="effective_date" class="control-label col-md-2">Effective Date</label>
                <div class="col-md-4">
                    <input type="text" class="form-control form-control-inline input-medium default-date-picker"
                           id="effective_date" name="effective_date"
                           data-date-format="yyyy-mm-dd"
                            {% if customeritem.id != None %}
                           value="{{ customeritem.effective_date|date:"Y-m-d" }}" {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword1" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <div class="checkbox checkbox-primary">
                        <input name="is_active" id="is_active" class="styled" type="checkbox" checked/>
                        <label for="is_active">
                            Active
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" name="btnSave" class="btn btn-success">Save</button>
                    {% if 'customers.delete_customeritem' in user.get_all_permissions %}
                        <a href="#delete-dialog" data-toggle="modal" class="btn btn-danger"
                           {% if customeritem.id == None %}style="display: none"{% endif %}>Delete</a>
                    {% endif %}
                    <a class="btn btn-default" href="{% url 'customer_edit' customer.id%}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    {% if customeritem != None %}
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="delete-dialog"
             class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Delete Confirm Dialog</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="{% url 'customer_delete_item' customeritem.id %}"
                              method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">Are you sure want to delete?</label>
                            </div>
                            <button type="submit" class="btn btn-success">OK</button>
                            <a class="btn btn-default"
                               href="{% url 'customer_edit_item' customeritem.id %}">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="modal fade" id="myItemListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Search Item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <section class="panel">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel-body"
                                         style="padding: 0px!important; font-size: 12.5px !important;">
                                        <div class="adv-table">
                                            <table id="item-table" style="width: 100% !important;"
                                                   class="display table table-bordered table-striped table-condensed">
                                                <thead>
                                                <tr>
                                                    <th>Update Date</th>
                                                    <th>Part Number</th>
                                                    <th>Part Name</th>
                                                    <th>Part Group</th>
                                                    <th>Country Code</th>
                                                    <th>Sales Price</th>
                                                    <th>Sales Currency</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                        <button class="btn btn-success" type="button" id="btnItemSelect">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myAlertModal"  tabindex="-1"  role="dialog" aria-labelledby="myAlertModal"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Alert Dialog</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label id="lblAlert" style="font-weight: 100;">
                            Currency of item is different with currency of customer.<br>
                            Please enter the other item code!
                        </label>
                    </div>
                    <button data-dismiss="modal" class="btn btn-default" type="button">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrafoot %}
    {% load staticfiles %}
    <script src="{% static "assets/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/datatables/js/dataTables.bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static 'assets/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/advanced-form-datepicker.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('option:not(:selected)').attr('disabled', true);
            $('form input').on('keypress', function (e) {
                return e.which !== 13;
            });
            $('#part_number').on('keypress', function (e) {
                if (e.which === 13) {
                    var item_code = $('#part_number').val();
                    $.ajax({
                        method: "POST",
                        url: '/customers/item_add/getiteminfo',
                        dataType: 'JSON',
                        data: {
                            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                            'item_code': item_code,
                            'customer_id': {{ customer.id }},
                        },
                        responseTime: 200,
                        response: function (settings) {
                            if (settings.data.value) {
                                this.responseText = '{"success": true}';
                            } else {
                                this.responseText = '{"success": false, "msg": "required"}';
                            }
                        },
                        success: function (json) {
                            if (json['Fail']) {
                                $('#myAlertModal').modal('show');
                            }
                            $('#hdItemSelected').val(json['id']);
                            $('#part_number').val(json['code']);
                            $('#part_name').val(json['name']);
                            $('#sales_price').val(json['sale_price']);

                            $('option').attr('disabled', false);
                            $('#id_currency').find('option:selected').removeAttr('selected');
                            $('#id_currency option[value=' + json['currency_id'] + ']').attr('selected', 'selected');
                            $('#id_currency').val(json['currency_id']);
                            $('option:not(:selected)').attr('disabled', true);
                        }
                    });
                }
            });
            $('#btnItemSelect').on('click', function () {

                var currency_select_id = $("input[name='choices']:checked").val();
                var item_select_id = $("input[name='choices']:checked").attr('id');
                var nRow = $("input[name='choices']:checked").parents('tr')[0];
                var jqInputs = $('td', nRow);

                $('#hdItemSelected').val(item_select_id);
                $('#part_number').val(jqInputs[1].innerText);
                $('#part_name').val(jqInputs[2].innerText);
                $('#sales_price').val(jqInputs[5].innerText.replace(',', ''));

                $('option').attr('disabled', false);
                $('#id_currency').find('option:selected').removeAttr('selected');
                $('#id_currency option[value=' + currency_select_id + ']').attr('selected', 'selected');
                $('#id_currency').val(currency_select_id);
                $('option:not(:selected)').attr('disabled', true);

                $.ajax({
                    method: "POST",
                    url: '/customers/item_add/getiteminfo',
                    dataType: 'JSON',
                    data: {
                        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                        'item_code': jqInputs[1].innerText,
                        'customer_id': {{ customer.id }},
                    },
                    responseTime: 200,
                    success: function (json) {
                        if (json['sale_price'] != '0' && json['sale_price'] != '') {
                            $('#sales_price').val(json['sale_price']);
                        }
                    }
                });

                $(this).attr('data-dismiss', 'modal');
            });

            $('#item-table').dataTable({
                "order": [[0, "desc"]],
                "bLengthChange": false,
                "iDisplayLength": 5,
                "serverSide": true,
                "ajax": {
                    "url": "{% url 'CustomerItemList__asJson' customer.id %}"
                },
                "columns": [
                    {"data": "update_date", "sClass": "text-left"},
                    {"data": "item_code", "sClass": "text-left"},
                    {"data": "item_name", "sClass": "text-left"},
                    {"data": "category_code", "sClass": "text-left"},
                    {"data": "country_name", "sClass": "text-left"},
                    {"data": "sales_price", "sClass": "text-right"},
                    {"data": "sale_currency", "sClass": "text-left"},
                    {
                        "orderable": false,
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var button_edit = '<input type="radio" name="choices" id="' + full.id + '" class="call-checkbox" value="' + full.sale_currency_id + '">';
                            return button_edit;
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}