{% extends "base.html" %}

<!--dynamic table-->
{% block extrahead %}
    {% load staticfiles %}
    <link href="{% static "assets/datatables/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/table.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}Revaluation Code List{% endblock %}
{% block revaluation_code_active %}active{% endblock %}
{% block account_setting_a_active %}active{% endblock %}
{% block account_setting_i_active %}active{% endblock %}
{% block parent_accounting_a_active %}active{% endblock %}
{% block parent_accounting_i_active %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading" style="font-size: 20px">
                Revaluation Code List
                <span class="tools pull-right">
                      {% if request.session.staff_admin %}
                          <a class="btn btn-success start" href="{% url 'revaluation_code_add' %}">
                              <i class="glyphicon glyphicon-plus"></i>
                              <span>Add new</span>
                          </a>
                      {% endif %}
                </span>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table class="display table table-bordered table-striped table-hover"
                           id="dynamic-table">
                        <thead>
                        <tr>
                            <th>Update Date</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Rate Type</th>
                            <th>Source Type</th>
                            {% if request.session.staff_admin %}
                            <th class="text-center">Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block js %}
    <!-- Datatables -->
    <script src="{% static "assets/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/datatables/js/dataTables.bootstrap.min.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dynamic-table').dataTable({
                "order": [[1, "desc"]],
                "serverSide": true,
                "scrollX": true,
                stateSave: true,
                "ajax": {
                    "url": "{% url 'RevaluationCode__asJson' %}"
                },
                "columns": [
                    {"data": "update_date", "width": "55px"},
                    {"data": "code"},
                    {"data": "description", "width": "200px"},
                    {"data": "rate_type"},
                    {"data": "source_type"},
                    {% if request.session.staff_admin %}
                        {
                            "className": "text-center",
                            "orderable": false,
                            "data": null,
                            "width": "10px",
                            "render": function (data, type, full, meta) {
                                var button_edit = '<a href="../edit/' + full.id + '" class="fa fa-pencil fa-lg btn btn-primary btn-sm"></a>'
                                return button_edit;
                            }
                        }
                    {% endif %}
                ],
                "columnDefs": []
            });
            $('.dataTables_scrollHeadInner').attr('style', 'margin-left: auto !important; margin-right: auto !important');
        });
    </script>
{% endblock %}
